flows.json
[{"id":"8f8f43f7.01481","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"960d5a8b.8e7398","type":"tab","label":"Water","disabled":false,"info":""},{"id":"865fb592.2877c8","type":"mqtt-broker","z":"","name":"localhost-mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3989bd20.f78b52","type":"uibuilder","z":"8f8f43f7.01481","name":"react_ui","topic":"","url":"react_ui","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"template":"","x":740,"y":120,"wires":[["1925e68c.fc23f9"],[]]},{"id":"24dc4c67.4103f4","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/valve_control","qos":"","retain":"","broker":"865fb592.2877c8","x":900,"y":440,"wires":[]},{"id":"77cec268.a1011c","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/config","qos":"","retain":"","broker":"865fb592.2877c8","x":880,"y":560,"wires":[]},{"id":"992ceb5.f73f818","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/status_request","qos":"","retain":"","broker":"865fb592.2877c8","x":910,"y":500,"wires":[]},{"id":"f9323c77.3a6d1","type":"switch","z":"960d5a8b.8e7398","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"water_monitor/flow_meter","vt":"str"},{"t":"eq","v":"water_monitor/valve_status","vt":"str"},{"t":"eq","v":"water_monitor/config_status","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":330,"y":280,"wires":[["57c4d280.1e83ac"],[],[]],"outputLabels":["flow_meter","valve_status","config_status"]},{"id":"ad492a61.1c54d8","type":"mqtt in","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/#","qos":"0","datatype":"auto","broker":"865fb592.2877c8","x":120,"y":180,"wires":[["699ef694.57f4c8"]]},{"id":"80f459a9.9dd6f8","type":"inject","z":"960d5a8b.8e7398","name":"on startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":40,"wires":[["4123a6a8.b1dac8"]]},{"id":"922e897f.95aa08","type":"function","z":"960d5a8b.8e7398","name":"when reconnected","func":"if (msg.payload == \"no timeout\") {\n    flow.set(\"water_monitor_online\", true);\n    //var newMsg = { payload: flow.get(\"wm_config_payload\")};\n    return { payload: flow.get(\"wm_config_payload\")};\n} else if (msg.payload == \"timeout\") {\n    flow.set(\"water_monitor_online\", false);\n    return null;\n}","outputs":1,"noerr":0,"x":530,"y":560,"wires":[["77cec268.a1011c","422a397b.8809a8"]]},{"id":"4123a6a8.b1dac8","type":"function","z":"960d5a8b.8e7398","name":"set vars & funcs","func":"flow.set(\"reports_per_second\", 1);\nflow.set(\"wm_config_payload\", \"reports_per_second:\"+flow.get(\"reports_per_second\"));\nflow.set(\"TimeoutMs\", 15*60*1000) //15 minutes in milliseconds\n\n//connect to water database\nvar mongodb = global.get('mongodb')\nflow.set(\"mongoDbWaterUrl\", 'mongodb://nodered:noderedpassword@localhost:27017/?authMechanism=SCRAM-SHA-1&authSource=water')\n\nmongodb.MongoClient.connect(flow.get('mongoDbWaterUrl'), {native_parser:true}, function(err, client) {\n    if(err){\n        node.error(err)\n    } else {\n        flow.set(\"waterDb\", client.db('water'))\n        flow.set('waterDbDailyColl', client.db('water').collection(\"daily\"))\n    }\n})\n\n//source identification vars\nflow.set(\"prevFlow\", 0)\nflow.set(\"lastStableFlow\", 0)\nflow.set(\"driftMargin\", 1)\nflow.set(\"inTransition\", false)\nflow.set(\"sourcesOn\", [])\n\nif(!flow.get(\"sourceList\", \"file\")){ \n    sourceList = [\n        { name: \"ktchn sink\", clicks: 13, quantity: 1 },\n        { name: \"bath sink\",  clicks: 17, quantity: 2 },\n        { name: \"dishwasher\", clicks: 10, quantity: 1 },\n        { name: \"toilet\",     clicks: 41, quantity: 2 },\n        { name: \"tub\",        clicks: 61, quantity: 1 },\n        { name: \"shower\",     clicks: 28, quantity: 1 },\n        { name: \"laundry\",    clicks: 33, quantity: 1 },\n        { name: \"studio\",     clicks: 36, quantity: 1 }\n    ]\n    flow.set(\"sourceList\", sourceList, \"file\") \n}\n\n//testing vars\nflow.set(\"testingNowDate\", undefined)\nflow.set(\"testingEnabled\", false)\n\n//functions\nflow.set(\"getNowDate\", function() { \n    if(flow.get(\"testingNowDate\")!==undefined){\n        return flow.get(\"testingNowDate\")\n    } else {\n        var now = new Date()\n        return now\n    }\n})\nflow.set(\"clicksToGallons\", function(clicks) {return (0.000925824*clicks + 0.0015719)})\n\n//adding getWeek code to javascript Date object\nDate.prototype.getWeek = function (dowOffset) {\n/*getWeek() was developed by Nick Baicoianu at MeanFreePath: http://www.meanfreepath.com */\n    dowOffset = typeof(dowOffset) == 'number' ? dowOffset : 0; //default dowOffset to zero (0 is Sunday, 1 is Monday, etc...)\n    var newYear = new Date(this.getFullYear(),0,1);\n    var day = newYear.getDay() - dowOffset; //the day of week the year begins on\n    day = (day >= 0 ? day : day + 7);\n    var daynum = Math.floor((this.getTime() - newYear.getTime() - \n    (this.getTimezoneOffset()-newYear.getTimezoneOffset())*60000)/86400000) + 1;\n    var weeknum;\n    //if the year starts before the middle of a week\n    if(day < 4) {\n        weeknum = Math.floor((daynum+day-1)/7) + 1;\n        if(weeknum > 52) {\n            debugger;\n            nYear = new Date(this.getFullYear() + 1,0,1);\n            nday = nYear.getDay() - dowOffset;\n            nday = nday >= 0 ? nday : nday + 7;\n            /*if the next year starts before the middle of\n              the week, it is week #1 of that year*/\n            weeknum = nday < 4 ? 1 : 53;\n        }\n    }\n    else {\n        weeknum = Math.floor((daynum+day-1)/7);\n    }\n    return weeknum;\n}\n\nflow.set(\"gateOpen\", true)","outputs":1,"noerr":0,"x":320,"y":40,"wires":[[]]},{"id":"422a397b.8809a8","type":"change","z":"960d5a8b.8e7398","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"none","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["992ceb5.f73f818"]]},{"id":"9e917171.007cd","type":"link out","z":"960d5a8b.8e7398","name":"water daily","links":["19a0b940.f26c87"],"x":1210,"y":80,"wires":[],"l":true},{"id":"820ba66b.ca0938","type":"link in","z":"8f8f43f7.01481","name":"water flow","links":["e7a29659.12ef58"],"x":180,"y":100,"wires":[["794fef6a.78baa"]],"l":true},{"id":"e7a29659.12ef58","type":"link out","z":"960d5a8b.8e7398","name":"water flow","links":["820ba66b.ca0938"],"x":1200,"y":160,"wires":[],"l":true},{"id":"19a0b940.f26c87","type":"link in","z":"8f8f43f7.01481","name":"water daily","links":["9e917171.007cd","7876e37b.8716cc"],"x":180,"y":140,"wires":[["5c3bebc5.a3d204"]],"l":true},{"id":"794fef6a.78baa","type":"function","z":"8f8f43f7.01481","name":"water:flow formatting","func":"return {payload: {water: {liveInfo: {flow: msg.payload.toFixed(1)}}}}","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["5bc47948.7f16a8"]]},{"id":"5c3bebc5.a3d204","type":"function","z":"8f8f43f7.01481","name":"water:usage formatting","func":"return {payload: {water: {liveInfo: {usage: msg.payload.toFixed(0)}}}, reset: msg.reset}","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["8385c389.7de6d"]]},{"id":"1925e68c.fc23f9","type":"function","z":"8f8f43f7.01481","name":"msg router","func":"switch(msg.topic) {\n  case \"dashboard\":\n    return [msg, null, null]\n    break;\n  case \"water\":\n    return [null, msg, null]\n    break;\n  default:\n    return [null, null, msg]\n}","outputs":3,"noerr":0,"x":890,"y":80,"wires":[["3989bd20.f78b52"],["99c343e2.45a4d"],[]],"outputLabels":["dashboard","water","default"]},{"id":"25701d18.bfc8e2","type":"link in","z":"960d5a8b.8e7398","name":"UI request","links":["99c343e2.45a4d","b72764fa.7a8a68"],"x":100,"y":120,"wires":[["b1821932.a25958"]],"l":true},{"id":"99c343e2.45a4d","type":"link out","z":"8f8f43f7.01481","name":"request to water","links":["25701d18.bfc8e2"],"x":1100,"y":100,"wires":[],"l":true},{"id":"b1821932.a25958","type":"function","z":"960d5a8b.8e7398","name":"request router","func":"const now = flow.get(\"getNowDate\")()\nif(!(msg.payload == null)){\n    switch(msg.payload) {\n      case \"initialize\":\n        return [{now: now, payload: \"initialize\"}, null]\n        break;\n      default:\n        return [null, null]\n    }\n}","outputs":2,"noerr":0,"x":260,"y":120,"wires":[["fd517ee2.6d085","f297b903.11e038","3e421870.1c22b8"],["84caffe0.b23b5"]],"outputLabels":["liveCard","chart"]},{"id":"cea90901.c67928","type":"function","z":"960d5a8b.8e7398","name":"set reports_per_second","func":"var obj = JSON.parse(msg.payload);\nflow.set(\"reports_per_second\", obj.reports_per_second)\nreturn {payload: flow.get(\"reports_per_second\")}","outputs":1,"noerr":0,"x":550,"y":440,"wires":[[]]},{"id":"fd517ee2.6d085","type":"function","z":"960d5a8b.8e7398","name":"today/average","func":"main().catch((err) => { console.error(err) })\n\nasync function main(){\n    var todayStart = new Date(msg.now)\n    var todayNow = new Date(todayStart)\n    var todayEnd = new Date(todayStart)\n    var currentSecond = Math.floor((todayNow.getTime()-todayStart.getTime())/1000)\n    todayStart.setHours(0,0,0,0)\n    todayEnd.setHours(24,0,0,0)\n    //get today allTotal\n    \n    try {\n        var todayDocPromise = flow.get('waterDbDailyColl').findOne({created: { $gt:todayStart, $lt:todayEnd }}, {projection: {allTotal: 1}})\n    } catch(error) {\n        console.error(error)  \n    }\n    try {\n        var averageDocPromise = flow.get('waterDbDailyColl').findOne({docName:\"averages\"}, {projection: {allAverage: 1, secondAverages: { $slice: [currentSecond, 1] }}})\n    } catch(error) {\n        console.error(error)\n    }\n    \n    try{\n        var todayDoc = await todayDocPromise\n        var averageDoc = await averageDocPromise\n    } catch(error) {\n        console.error(error)\n    }\n    \n    var todayTotal = {payload: null}\n    var todayMsg = {topic: \"today\", payload: {total: null, tillNow: null}}\n    var averageMsg = {topic: \"average\", payload: {total: null, tillNow: null}}\n    \n    if(todayDoc){\n        todayTotal.payload = todayDoc.allTotal\n        todayMsg.payload.tillNow = todayDoc.allTotal\n        if(msg.payload === \"initialize\" || msg.payload === \"new day\"){\n            todayMsg.reset = true\n            todayMsg.payload.reset = true //get rid of this if find more elegant way to handle\n        }\n    } else {\n        todayTotal.payload = 0\n        todayMsg.payload.tillNow = 0 //no doc so today's allTotal must be zero\n    }\n    \n    if(averageDoc && averageDoc.allAverage){ //check doc exists and allAverage exists\n            if(averageDoc.secondAverages.length > 0){ //check secondAverages had the element at the index we searched for\n                var averageGallonsSoFar = averageDoc.secondAverages[0]//since we sliced in query, we only have 1 element in array\n                var todaysPrediction = averageDoc.allAverage-(averageGallonsSoFar-Number(msg.payload))\n                todayMsg.payload.total = todaysPrediction\n                averageMsg.payload = {total: averageDoc.allAverage, tillNow: averageGallonsSoFar}\n            } /*else { //no secondAverages exists, but allAverage must exist\n                node.send([{topic: \"today\", payload: {total: msg.payload, tillNow: 0}}, \n                    {topic: \"average\", payload: {total: averageDoc.allAverage, tillNow: 0}}]) //switch total and tillNow, react code uses divide by total\n            }*/\n    } else { //no averages doc exists\n        //NOTE: here we switch total and tillNow, react code uses divide by total\n        todayMsg.payload.total = todayMsg.payload.tillNow\n        todayMsg.payload.tillNow = 0\n    }\n\n    node.send([todayTotal, todayMsg, averageMsg])\n    node.done()\n}","outputs":3,"noerr":0,"x":740,"y":80,"wires":[["9e917171.007cd"],["4cd16a2b.3c3984"],["4cd16a2b.3c3984","1f55a803.ff0d88"]],"outputLabels":["todayTotal","today","average"]},{"id":"423e65d8.5a5d7c","type":"link in","z":"8f8f43f7.01481","name":"water totals","links":["607a1016.60844"],"x":170,"y":180,"wires":[["9f7d4c9e.5568f"]],"l":true},{"id":"9f7d4c9e.5568f","type":"function","z":"8f8f43f7.01481","name":"water:totals formatting","func":"var newMsg = msg\n\nObject.keys(msg.payload).forEach(function(key,index) {\n    if(!(msg.payload[key].total == null)){\n        msg.payload[key].total = Number(msg.payload[key].total.toFixed(0))\n    } \n    if(!(msg.payload[key].tillNow == null)){\n        msg.payload[key].tillNow = Number(msg.payload[key].tillNow.toFixed(0))\n    }\n});\n\nvar newMsg = {payload: null}\nif(msg.payload.reset){\n    delete msg.payload[\"reset\"]\n    newMsg.reset = true\n}\nnewMsg.payload = {water: {liveInfo: {totals: msg.payload}}}\n\n\nreturn newMsg","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["58eefa4.df62204"]]},{"id":"607a1016.60844","type":"link out","z":"960d5a8b.8e7398","name":"water totals","links":["423e65d8.5a5d7c"],"x":1210,"y":120,"wires":[],"l":true},{"id":"57c4d280.1e83ac","type":"function","z":"960d5a8b.8e7398","name":"update flow, gallons, sources","func":"// inputs message should have\n// now = date of current data\n// payload = number of clicks\n\nmain().catch((err) => { console.error(err) })\n\nasync function main() {\n    var promises = []\n    const now = new Date(msg.now)\n    var waterDateLastSeen = getAndUpdateLastSeenDate(\"waterDateLastSeen\", now)\n    //check for new day\n    var whatsNew = getWhichPeriodsAreNew(now, waterDateLastSeen)\n    //check for incomplete today/lastday\n    var [todayIncomplete, lastSeenIncomplete] = getWhichDaysIncomplete(whatsNew, now, waterDateLastSeen)\n\n    if(whatsNew.newDay){\n        try {\n            promises.push(handleNewDay(whatsNew, waterDateLastSeen, lastSeenIncomplete))\n        } catch(error) {\n            console.error(error)\n        }\n    }\n\n    promises.push(identifySources(now))\n\n    //update database with flow, gallon\n    if(msg.payload !== 0 || todayIncomplete  || whatsNew.newDay) { //if newday -> need to have a day doc even if there is no flow during that day\n        promises.push(updateDatabaseRecordAllTotal(now, todayIncomplete))\n    } else {\n        //send zero as flow data, this is used as trigger for getting today's prediction\n        node.send([{now: now, payload: 0}, null, null])\n    }\n\n    try {\n        await Promise.all(promises)\n    } catch(error) {\n        console.error(error)\n    }\n    node.done()\n}\n\nasync function updateDatabaseRecordAllTotal(now, todayIncomplete){\n    //search for today's doc\n    var start = new Date(now.valueOf())\n    var end = new Date(start.valueOf())\n    start.setHours(0,0,0,0)\n    end.setHours(24,0,0,0)\n    var doc = {\n        $setOnInsert: { \n            created: now\n        },\n        $currentDate: {modified: true}\n    }\n    if(msg.payload !== 0){\n        doc.$inc =  { allTotal: flow.get('clicksToGallons')(msg.payload) },\n        doc.$push = { timeRecord: { clicks: msg.payload, created: now, sources: flow.get(\"sourcesOn\") }}\n    } else { //in case non-zero flow is triggering this new database entry (i.e. on a new day), we don't conflict with $inc.allTotal\n        doc.$setOnInsert.allTotal = 0\n    }\n    if(todayIncomplete){\n        doc.$set = { incomplete : true }\n    } else { \n        doc.$set = { incomplete : false } \n    }\n    try {\n        await flow.get('waterDbDailyColl').updateOne({created: { $gt:start, $lt:end }}, doc, {upsert:true, w: 1})\n    } catch(error) {\n        console.error(error)\n    }\n    node.send([{now: now, payload: flow.get('clicksToGallons')(msg.payload)*60}, null, null])\n}\n\nfunction getAndUpdateLastSeenDate(name, now){\n    var dateLastSeen\n    var waterDateLastSeenStr = flow.get(\"waterDateLastSeen\", \"file\")\n    if(waterDateLastSeenStr){\n        dateLastSeen = new Date(waterDateLastSeenStr)\n    } else {\n        dateLastSeen = new Date(now)\n    }\n\n    //update date last seen to now\n    flow.set(name, now, \"file\")\n    return dateLastSeen\n}\n\nfunction getWhichPeriodsAreNew(now, lastSeen){\n    var whatsNew = {newDay: false, nowDate: now, lastSeenDate: lastSeen}\n    if (!(lastSeen.getDate() == now.getDate() &&\n        lastSeen.getMonth() == now.getMonth() &&\n        lastSeen.getFullYear() == now.getFullYear())){\n        whatsNew.newDay = true\n        if(lastSeen.getWeek(1) !== now.getWeek(1)){ //1 sets first day of week to Monday\n            whatsNew.newWeek = true\n        }\n        if(lastSeen.getMonth() !== now.getMonth()){\n            whatsNew.newMonth = true\n            if(lastSeen.getFullYear() !== now.getFullYear()){\n                whatsNew.newYear = true\n            }\n        }\n    }\n    return whatsNew\n}\n\nfunction getWhichDaysIncomplete(whatsNew, now, lastSeen){\n    var todayIncomplete = false\n    var lastSeenIncomplete = false\n    if((now.getTime()-lastSeen.getTime())>flow.get(\"TimeoutMs\")){\n        //if more than timeout since midnight\n        var lastMidnight = new Date(now.getTime())\n        lastMidnight.setHours(0,0,0,0)\n        if ((now.getTime()-lastMidnight.getTime())>flow.get(\"TimeoutMs\")){\n            todayIncomplete = true\n        }\n        if (whatsNew.newDay) {\n            var dateLastSeenMidnight = new Date(lastSeen.getTime())\n            dateLastSeenMidnight.setHours(24,0,0,0)\n            if((dateLastSeenMidnight.getTime()-lastSeen.getTime())>flow.get(\"TimeoutMs\")){\n                lastSeenIncomplete = true\n            }\n        }\n    }\n    return [todayIncomplete, lastSeenIncomplete]\n}\n\nasync function handleNewDay(whatsNew, lastSeenDate, lastSeenIncomplete){\n    if(lastSeenIncomplete){\n        // update last seen doc to incomplete\n        var start = new Date(lastSeenDate.getTime())\n        var end = new Date(start.getTime())\n        start.setHours(0,0,0,0)\n        end.setHours(24,0,0,0)\n        var doc = {\n            $set: { incomplete : true },\n            $currentDate: {modified: true}\n        }\n        try {\n            var promise = flow.get('waterDbDailyColl').update({created: { $gt:start, $lt:end }}, doc, {w: 1}).catch((e) => { console.error(e) })\n        } catch(error){\n            console.error(error)\n        }\n        node.send([null, {payload: whatsNew}, null])\n    } else {\n        node.send([null, {payload: whatsNew}, null])\n    }\n    try {\n        await promise\n    } catch(error) {\n        console.error(error)\n    }\n}\n\nasync function identifySources(now){\n    var promises = []\n    //node.send([null, null, null, {payload: msg.payload, prevFlow: flow.get(\"prevFlow\"), margin: (flow.get(\"sourcesOn\").length || 1)*flow.get(\"driftMargin\"), sourcesOn: flow.get(\"sourcesOn\")}])\n    //identify source\n    if(flow.get(\"inTransition\")) {\n        var isTransitioning = Math.abs(msg.payload-flow.get(\"prevFlow\"))>flow.get(\"driftMargin\")\n    } else {\n        var isTransitioning = Math.abs(msg.payload-flow.get(\"prevFlow\"))>((flow.get(\"sourcesOn\").length || 1)*flow.get(\"driftMargin\"))\n    }\n    //node.send([null, null, null, {isTransitioning: isTransitioning}])\n    if(isTransitioning){\n        if(!flow.get(\"inTransition\")){\n            flow.set(\"inTransition\", true)\n            flow.set(\"transitionData\", [{clicks: msg.payload, created: now, source: \"unknown\"}])\n        } else {\n            var transitionData = flow.get(\"transitionData\")\n            transitionData.push({clicks: msg.payload, created: now, source: \"unknown\"})\n            flow.set(\"transitionData\", transitionData)\n        }\n        //node.send([null, null, null, {transitionData: flow.get(\"transitionData\")}])\n        flow.set(\"prevFlow\", msg.payload)\n    } else { //not in transition\n        if(flow.get(\"inTransition\")){ //transition is completed\n            var transitionData = flow.get(\"transitionData\")\n            var signature = msg.payload-flow.get(\"lastStableFlow\")\n            //node.send([null, null, null, {where: \"after transition\", lastStableFlow: flow.get(\"lastStableFlow\"), signature: signature}])\n            var sourcesOn = flow.get(\"sourcesOn\")\n            var currentDrift = (sourcesOn.length || 1)*flow.get(\"driftMargin\")\n            var sourceList = flow.get(\"sourceList\", \"file\")\n            var found = false\n            for(let i = 0; i<sourceList.length; i++){\n                if(Math.abs((Math.abs(signature)-sourceList[i].clicks))<=flow.get(\"driftMargin\")){//can't use currentDrift because reference signatures are too close\n                    var currentSourcesOn = {clicks: 0, quantity: 1}\n                    if(signature>0){ //position transition so add it\n                        //check that we don't already have max sources of this type on\n                        var numberOfTheseSources = 0\n                        for(var j=0; j<sourcesOn.length; j++){\n                            if(sourcesOn[j].name === sourceList[i].name)\n                            { \n                                numberOfTheseSources = sourcesOn[j].quantity \n                                break\n                            }\n                        }\n                        if(numberOfTheseSources < sourceList[i].quantity){\n                            found = true\n                            if(numberOfTheseSources === 0){ //if doesn't exist in sourcesOn yet...\n                                sourcesOn.push({name: sourceList[i].name, clicks: sourceList[i].clicks, quantity: 1})\n                            } else { //if exists already, add another\n                                //node.send([null, null, null, {sourcesOn: sourcesOn, currentSourcesOn: currentSourcesOn}])\n                                currentSourcesOn.clicks = sourcesOn[j].clicks\n                                sourcesOn[j].clicks += sourceList[i].clicks\n                                sourcesOn[j].quantity++\n                                currentSourcesOn.quantity = sourcesOn[j].quantity\n                                //node.send([null, null, null, {sourcesOn: sourcesOn, currentSourcesOn: currentSourcesOn}])\n                            }\n                        }\n                    } else { //negative transition so remove it\n                        for(let j=0; j<sourcesOn.length; j++){\n                            if(sourcesOn[j].name === sourceList[i].name){\n                                flow.set(\"lastStableFlow\", msg.payload) //set here so we can get correct clicks in transitionData\n                                found=true\n                                if(sourcesOn[j].quantity>1){\n                                    sourcesOn[j].clicks -= sourceList[i].clicks\n                                    sourcesOn[j].quantity--\n                                    currentSourcesOn.clicks = sourcesOn[j].clicks\n                                    currentSourcesOn.quantity = sourcesOn[j].quantity\n                                } else {\n                                    sourcesOn.splice(j, 1)\n                                }\n                                break\n                            }\n                        }\n                    }\n                    //node.send([null, null, null, {sourcesOn: sourcesOn, currentSourcesOn: currentSourcesOn}])\n                    if(found===true){ //could be, if decrease, that match was found but that source was never added so it should be taken from \"unknown\"\n                        for(let k=0; k<transitionData.length; k++){\n                            transitionData[k].source = sourceList[i].name\n                            transitionData[k].clicks = currentSourcesOn.clicks + transitionData[k].clicks - flow.get(\"lastStableFlow\")\n                            transitionData[k].quantity = currentSourcesOn.quantity\n                        }\n                    }\n                    break\n                }\n            }\n            if(!found) {\n                for(let k=0; k<transitionData.length; k++){\n                    var lastStableSources = 0\n                    for(let i=0; i<sourcesOn.length; i++){\n                        lastStableSources += sourcesOn[i].clicks\n                    }\n                    if(transitionData[k].clicks > lastStableSources){ //transition is positive: lastStableSources will update every iteration\n                        if(sourcesOn.length>0 && sourcesOn[0].name===\"unknown\") { //if \"unknown\" is in array, it will always be first\n                            sourcesOn[0].clicks += transitionData[k].clicks-lastStableSources\n                        } else { //need to add \"unknown\" as first element in array\n                            sourcesOn.unshift({name: \"unknown\", clicks: transitionData[k].clicks-lastStableSources, quantity: 1})\n                        }\n                        transitionData[k].clicks = sourcesOn[0].clicks\n                        transitionData[k].quantity = 1\n                    }\n                    else {\n                        var shouldSubtract = true\n                        while(shouldSubtract){\n                            if(sourcesOn.length > 0){ //transition was negative\n                                sourcesOn[0].clicks = sourcesOn[0].clicks+transitionData[k].clicks-lastStableSources\n                                if(sourcesOn[0].name !== \"unknown\" || sourcesOn[0].clicks <= 0){ //need to delete \"unknown\" as well if it has reached zero\n                                    //delete transition source entry from this transitionData to end from database\n                                    for(let m=k; m<transitionData.length; m++){\n                                        promises.push(deleteSourceFromDatabase(transitionData[m].created, sourcesOn[0].name))\n                                    }\n                                }\n                                if(sourcesOn[0].clicks <= 0){\n                                    //node.send([null, null, null, {where: \"nut: <=0\", sourcesOn: sourcesOn, lastStableSources: lastStableSources, transitionData: transitionData}])\n                                    //reduce lastStableSources for next subtraction\n                                    lastStableSources = lastStableSources+(transitionData[k].clicks-lastStableSources+Math.abs(sourcesOn[0].clicks))\n                                    sourcesOn.splice(0, 1)\n                                }\n                                else {\n                                    transitionData[k].clicks = sourcesOn[0].clicks\n                                    transitionData[k].source = \"unknown\"\n                                    transitionData[k].quantity = 1\n                                    sourcesOn[0].name = \"unknown\"\n                                    shouldSubtract = false\n                                    //node.send([null, null, null, {where: \"nut: >0\", sourcesOn: sourcesOn, lastStableSources: lastStableSources, transitionData: transitionData}])\n                                }\n                            } else { shouldSubtract = false } //to prevent infinite loop if leftovers in transitionData. what to do with leftovers in transistionData?\n                        }\n                    }\n                }\n                if(msg.payload === 0) { sourcesOn = [] } //why do we need this?\n            }\n            \n            //try to match \"unknown\" source\n            if((sourcesOn.length>0 && sourcesOn[0].name===\"unknown\")){\n                //node.send([null, null, null, {where: \"match unknown code\", sourcesOn: sourcesOn}])\n                var foundOne = false\n                for(let i = 0; i<sourceList.length; i++){\n                    if(Math.abs(sourcesOn[0].clicks-sourceList[i].clicks)<=flow.get(\"driftMargin\")){//can't use currentDrift because reference signatures are too close\n                        //check that we don't already have max sources of this type on\n                        var numberOfTheseSources = 0, currentSourcesOn = {clicks: 0, quantity: 1}\n                        for(var j=0; j<sourcesOn.length; j++){\n                            if(sourcesOn[j].name === sourceList[i].name)\n                            { \n                                numberOfTheseSources = sourcesOn[j].quantity \n                                break\n                            }\n                        }\n                        if(numberOfTheseSources < sourceList[i].quantity){\n                            if(numberOfTheseSources === 0){\n                                sourcesOn[0].name = sourceList[i].name\n                                sourcesOn[0].quantity = 1\n                                currentSourcesOn.clicks = sourcesOn[0].clicks\n                                currentSourcesOn.quantity = sourcesOn[0].quantity\n                            } else {\n                                sourcesOn[j].clicks += sourceList[i].clicks\n                                sourcesOn[j].quantity++\n                                currentSourcesOn.clicks = sourcesOn[0].clicks\n                                currentSourcesOn.quantity = sourcesOn[0].quantity\n                            }\n                            foundOne = true\n                            //delete last unknown from db, since we have match\n                            promises.push(deleteSourceFromDatabase(transitionData[transitionData.length-1].created, \"unknown\"))\n                            //change last transition data to be the new match\n                            if(transitionData.length>0){\n                                transitionData[transitionData.length-1].source = sourceList[i].name\n                                transitionData[transitionData.length-1].clicks = currentSourcesOn.clicks\n                                transitionData[transitionData.length-1].quantity = currentSourcesOn.quantity\n                            }\n                            break\n                        }\n                    }\n                }\n            }\n            \n            //update db with transitionData\n            //node.send([null, null, null, {where: \"db update transition\", sourcesOn: sourcesOn, transitionData: transitionData}])\n            for(let l=0; l<transitionData.length; l++){\n                var start = new Date(transitionData[l].created)\n                var end = new Date(start.valueOf())\n                start.setHours(0,0,0,0)\n                end.setHours(24,0,0,0)\n                if(transitionData[l].clicks <= 0){ //delete any entries that would have 0 or negative clicks\n                    promises.push(deleteSourceFromDatabase(transitionData[l].created, transitionData[l].source))\n                } else {\n                    try{\n                        promises.push(flow.get(\"waterDbDailyColl\").bulkWrite( [\n                            //first updates entry if it exists.\n                            { updateOne : {\n                               filter : { created: { $gt:start, $lt:end } }, \n                               update : { $set : { \"timeRecord.$[t].sources.$[source].clicks\": Number(transitionData[l].clicks), \n                                                    \"timeRecord.$[t].sources.$[source].quantity\": Number(transitionData[l].quantity) } },\n                               arrayFilters : [ { \"t.created\": new Date(transitionData[l].created) }, { \"source.name\": transitionData[l].source } ] \n                            } },\n                            //second update creates entry if doesn't exist. NOTE: must match the full subdocument in array element! \n                            { updateOne : {\n                               filter : { created: { $gt:start, $lt:end } }, \n                               update : { $addToSet : { \"timeRecord.$[t].sources\": {name: transitionData[l].source, \n                                                                            clicks: Number(transitionData[l].clicks), \n                                                                            quantity: transitionData[l].quantity }}},\n                               arrayFilters : [ { \"t.created\": new Date(transitionData[l].created) } ]\n                            } }\n                        ] ))\n                    } catch(error) {\n                        console.error(error)\n                    }\n                }\n            }\n            \n            //update global variables\n            flow.set(\"sourcesOn\", sourcesOn)\n            flow.set(\"lastStableFlow\", msg.payload)\n            flow.set(\"inTransition\", false)\n        }\n        //set \"prevFlow\", signature calculation uses \"lastStableFlow\" so we don't have to worry about slow drifting\n        flow.set(\"prevFlow\", msg.payload)\n        //failsafe\n        if(msg.payload === 0){ flow.set(\"sourcesOn\", []) }\n    }\n    node.send([null, null, { sources: flow.get(\"sourcesOn\") }])\n    try {\n        await Promise.all(promises)\n    } catch(error) {\n        console.error(error)\n    }\n}\n\nasync function deleteSourceFromDatabase(date, name) {\n    //node.send([null, null, null, {date: date, name: name}])\n    var start = new Date(date)\n    var end = new Date(start.valueOf())\n    start.setHours(0,0,0,0)\n    end.setHours(24,0,0,0)\n    try {\n        await flow.get(\"waterDbDailyColl\").updateOne(\n          { created: { $gt:start, $lt:end }},\n          { $pull: { \"timeRecord.$[t].sources\" : { name : name } } },\n          { arrayFilters : [ { \"t.created\": date } ] })\n    } catch(error) {\n        console.error(error)\n    }\n}","outputs":3,"noerr":0,"x":480,"y":180,"wires":[["e7a29659.12ef58","fd517ee2.6d085"],["e0a36cb5.e0925","1f55a803.ff0d88"],["d2c35a33.048b68"]],"outputLabels":["flow","new day","sources"]},{"id":"5bc47948.7f16a8","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":100,"wires":[["3989bd20.f78b52"]]},{"id":"8385c389.7de6d","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":140,"wires":[["3989bd20.f78b52"]]},{"id":"4cd16a2b.3c3984","type":"join","z":"960d5a8b.8e7398","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":120,"wires":[["607a1016.60844"]]},{"id":"58eefa4.df62204","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":180,"wires":[["3989bd20.f78b52"]]},{"id":"699ef694.57f4c8","type":"function","z":"960d5a8b.8e7398","name":"gate/fill message","func":"if(flow.get(\"waterDb\")===undefined){\n    //database not yet connected, do nothing\n} else if(flow.get(\"gateOpen\")===true) { //checking that all variable/function initialization has completed\n    msg.now = flow.get(\"getNowDate\")()\n    msg.payload = Number(msg.payload) //payload from water sensor arduino is a string\n    return msg;\n}\n","outputs":1,"noerr":0,"x":150,"y":280,"wires":[["f9323c77.3a6d1"]]},{"id":"d2c35a33.048b68","type":"link out","z":"960d5a8b.8e7398","name":"water sources","links":["41ced401.4b6fac"],"x":1220,"y":200,"wires":[],"l":true},{"id":"41ced401.4b6fac","type":"link in","z":"8f8f43f7.01481","name":"water sources","links":["d2c35a33.048b68"],"x":170,"y":220,"wires":[["da518dc6.4a46"]],"l":true},{"id":"da518dc6.4a46","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"sources","x":310,"y":220,"wires":[["324ebaba.989c06"]]},{"id":"324ebaba.989c06","type":"function","z":"8f8f43f7.01481","name":"water:sources formatting","func":"var newMsg = {payload: {water: {liveInfo: {sources: []}}}}\nfor (let i=0; i<msg.sources.length; i++){\n    for(let j=0; j<msg.sources[i].quantity; j++){\n        newMsg.payload.water.liveInfo.sources.push({name: msg.sources[i].name, clicks: msg.sources[i].clicks/msg.sources[i].quantity})\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["3989bd20.f78b52"]]},{"id":"84caffe0.b23b5","type":"function","z":"960d5a8b.8e7398","name":"get chartData","func":"if(msg.payload.range === \"now\"){\n    var chartData = {\n      chart: {\n        caption: \"Yearly Energy Production\",\n        numbersuffix: \" TWh\",\n        formatnumberscale: \"0\",\n        showvalues: \"0\",\n        drawcrossline: \"1\",\n        showsum: \"1\",\n        plottooltext: \"$dataValue from $seriesName\",\n        theme: \"candy\"\n      },\n      categories: [\n        {\n          category: [\n            {\n              label: \"Canada\"\n            },\n            {\n              label: \"China\"\n            },\n            {\n              label: \"Russia\"\n            },\n            {\n              label: \"Australia\"\n            },\n            {\n              label: \"United States\"\n            },\n            {\n              label: \"France\"\n            }\n          ]\n        }\n      ],\n      dataset: [\n        {\n          seriesname: \"Coal\",\n          data: [\n            {\n              value: \"400\"\n            },\n            {\n              value: \"830\"\n            },\n            {\n              value: \"500\"\n            },\n            {\n              value: \"420\"\n            },\n            {\n              value: \"790\"\n            },\n            {\n              value: \"380\"\n            }\n          ]\n        },\n        {\n          seriesname: \"Hydro\",\n          data: [\n            {\n              value: \"350\"\n            },\n            {\n              value: \"620\"\n            },\n            {\n              value: \"410\"\n            },\n            {\n              value: \"370\"\n            },\n            {\n              value: \"720\"\n            },\n            {\n              value: \"310\"\n            }\n          ]\n        },\n        {\n          seriesname: \"Nuclear\",\n          data: [\n            {\n              value: \"210\"\n            },\n            {\n              value: \"400\"\n            },\n            {\n              value: \"450\"\n            },\n            {\n              value: \"180\"\n            },\n            {\n              value: \"570\"\n            },\n            {\n              value: \"270\"\n            }\n          ]\n        },\n        {\n          seriesname: \"Gas\",\n          data: [\n            {\n              value: \"180\"\n            },\n            {\n              value: \"330\"\n            },\n            {\n              value: \"230\"\n            },\n            {\n              value: \"160\"\n            },\n            {\n              value: \"440\"\n            },\n            {\n              value: \"350\"\n            }\n          ]\n        },\n        {\n          seriesname: \"Oil\",\n          data: [\n            {\n              value: \"60\"\n            },\n            {\n              value: \"200\"\n            },\n            {\n              value: \"200\"\n            },\n            {\n              value: \"50\"\n            },\n            {\n              value: \"230\"\n            },\n            {\n              value: \"150\"\n            }\n          ]\n        }\n      ]\n    }\n    return {payload: {chartData: chartData}}\n}\nreturn null","outputs":1,"noerr":0,"x":740,"y":40,"wires":[["c23da2f2.dc8dd"]]},{"id":"c23da2f2.dc8dd","type":"link out","z":"960d5a8b.8e7398","name":"water chart","links":["e0c59597.e859b8"],"x":1210,"y":40,"wires":[],"l":true},{"id":"e0c59597.e859b8","type":"link in","z":"8f8f43f7.01481","name":"water chart","links":["c23da2f2.dc8dd"],"x":180,"y":60,"wires":[["a307b512.8aac68"]],"l":true},{"id":"a307b512.8aac68","type":"function","z":"8f8f43f7.01481","name":"water:chart formatting","func":"return {payload: {water: {chart: {stackedData: msg.payload.chartData}}}}","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["3989bd20.f78b52"]]},{"id":"e0a36cb5.e0925","type":"function","z":"960d5a8b.8e7398","name":"update daily/weekly/monthly/yearly","func":"//update db\nif(msg.payload.newDay){\n    var homeDirectory = global.get('os').homedir()\n    var updateScriptPath = global.get('path').join(homeDirectory, \".node-red\", \"updateDatabase.js\")\n    //console.log(updateScriptPath)\n    try {\n        const updateProcess = global.get('child_process').fork(updateScriptPath, [flow.get('mongoDbWaterUrl'), JSON.stringify(msg.payload)])\n        updateProcess.on('message', function( childMsg ) {\n            if(childMsg.success){\n                node.send({payload: \"new day\"})\n                node.done()\n            }\n        })\n    } catch(error) {\n        console.error(error)\n    }\n}","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["f297b903.11e038","fd517ee2.6d085","1f55a803.ff0d88"]]},{"id":"f297b903.11e038","type":"function","z":"960d5a8b.8e7398","name":"yesterday","func":"var todayStart = new Date(msg.now)\nvar yesterdayStart = new Date(todayStart)\nyesterdayStart.setDate(todayStart.getDate()-1)\nvar yesterdayEnd = new Date(yesterdayStart)\nyesterdayStart.setHours(0,0,0,0)\nyesterdayEnd.setHours(24,0,0,0)\n\nmain().catch((err) => { console.error(err) })\n\nasync function main(){\n    try {\n        var yesterdayDocPromise = flow.get('waterDbDailyColl').findOne({created: { $gt:yesterdayStart, $lt:yesterdayEnd }}, {projection: {allTotal: 1}})\n    } catch(error) {\n        console.error(error)\n    }\n    \n    try {\n        var yesterdayDoc = await yesterdayDocPromise\n    } catch(error) {\n        console.error(error)\n    }\n    \n    var yesterdayMsg = {topic: \"yesterday\", payload: {total: null, tillNow: null}}\n    \n    if(yesterdayDoc){\n        yesterdayMsg = {topic: \"yesterday\", payload: {total: yesterdayDoc.allTotal, tillNow: 0}}\n    }\n    \n    node.send(yesterdayMsg)\n    node.done()\n}","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["4cd16a2b.3c3984"]]},{"id":"7d9bb422.65e6ec","type":"mqtt in","z":"960d5a8b.8e7398","name":"","topic":"testing/now","qos":"0","datatype":"auto","broker":"865fb592.2877c8","x":110,"y":380,"wires":[["5239ac2d.847414"]]},{"id":"5239ac2d.847414","type":"function","z":"960d5a8b.8e7398","name":"set now","func":"//console.log(msg)\ntry{\n    var nowDate = new Date(msg.payload)\n} catch(error){\n    throw new Error(error)\n}\nflow.set(\"testingNowDate\", nowDate)\n//console.log(\"testingNowDate: \"+flow.get(\"testingNowDate\")+\", getNowDate: \"+flow.get(\"getNowDate\")())\nreturn {payload: nowDate}","outputs":1,"noerr":0,"x":100,"y":420,"wires":[["9765ee1c.54123"]]},{"id":"1f55a803.ff0d88","type":"function","z":"960d5a8b.8e7398","name":"done Gate","func":"if(flow.get(\"testingEnabled\")){\n    if(msg.payload.newDay){\n        console.log(\"newDay, returnGateOpen=false\")\n        flow.set(\"returnGateOpen\", false)\n    } else if(msg.payload === \"new day\") {\n        console.log(\"done updating, returnGateOpen=true\")\n        flow.set(\"returnGateOpen\", true)\n        if(flow.get(\"msgBlocked\")){\n            console.log(\"done updating, msg was blocked, sending one\")\n            flow.set(\"msgBlocked\", false)\n        }\n    } else if(flow.get(\"returnGateOpen\")){\n        //console.log(\"gate open, sending message\")\n        return {payload:\"ready\"}\n    } else {\n        console.log(\"gate closed, msg blocked\")\n        flow.set(\"msgBlocked\", true)\n    }\n}","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[["59dba63.2790f58"]]},{"id":"59dba63.2790f58","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"testing/ready","qos":"0","retain":"","broker":"865fb592.2877c8","x":1210,"y":280,"wires":[]},{"id":"18275ab6.5bbe05","type":"mqtt in","z":"960d5a8b.8e7398","name":"","topic":"testing/lastSeen","qos":"0","datatype":"auto","broker":"865fb592.2877c8","x":120,"y":460,"wires":[["4025ffc1.14f9d"]]},{"id":"4025ffc1.14f9d","type":"function","z":"960d5a8b.8e7398","name":"set lastSeen","func":"//console.log(msg)\ntry{\n    var lastSeenDate = new Date(msg.payload)\n} catch(error){\n    throw new Error(error)\n}\nflow.set(\"waterDateLastSeen\", lastSeenDate, \"file\")\n//console.log(flow.get(\"waterDateLastSeen\", \"file\"))\nreturn {payload: lastSeenDate}","outputs":1,"noerr":0,"x":110,"y":500,"wires":[["9765ee1c.54123"]]},{"id":"9765ee1c.54123","type":"function","z":"960d5a8b.8e7398","name":"enable Testing","func":"if(flow.get(\"testingEnabled\")===false){\n    flow.set(\"TimeoutMs\", 60*60*1000)\n    flow.set(\"returnGateOpen\", true)\n    flow.set(\"testingEnabled\", true)\n    return {payload: \"testing enabled, gate open\"}\n}","outputs":1,"noerr":0,"x":120,"y":540,"wires":[[]]},{"id":"70221827.215ba8","type":"inject","z":"960d5a8b.8e7398","name":"manual update trigger","topic":"","payload":"{\"newDay\":true,\"newWeek\":false,\"newMonth\":true,\"newYear\":false,\"nowDate\":\"2016-03-01T04:41:55.000Z\",\"lastSeenDate\":\"2016-02-01T04:57:14.000Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":240,"wires":[["e0a36cb5.e0925"]]},{"id":"a8406c82.dd5e5","type":"debug","z":"960d5a8b.8e7398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":360,"wires":[]},{"id":"3e421870.1c22b8","type":"function","z":"960d5a8b.8e7398","name":"sources","func":"return { sources: flow.get(\"sourcesOn\"), reset: true }","outputs":1,"noerr":0,"x":720,"y":154,"wires":[["d2c35a33.048b68"]]},{"id":"ee3c4384.6c489","type":"debug","z":"8f8f43f7.01481","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":300,"wires":[]}]