flows.json
[{"id":"8f8f43f7.01481","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"960d5a8b.8e7398","type":"tab","label":"Water","disabled":false,"info":""},{"id":"d118769e.e67518","type":"tab","label":"Air","disabled":false,"info":""},{"id":"d93e8bdf.747338","type":"subflow","name":"temperature controller","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"ea48fbd9.fae598"}]}],"out":[{"x":1220,"y":80,"wires":[{"id":"98b87829.e93938","port":0},{"id":"566d3be6.aa1334","port":0},{"id":"e09b37f7.bb9258","port":0},{"id":"ea48fbd9.fae598","port":4},{"id":"3ce5a812.a498d8","port":0}]},{"x":1220,"y":160,"wires":[{"id":"3ce5a812.a498d8","port":1}]},{"x":1220,"y":240,"wires":[{"id":"2010a9f.0582756","port":0}]}],"env":[],"color":"#DDAA99","inputLabels":["UI msg"],"outputLabels":["UI msg","compressor signal","temperature assist"],"icon":"font-awesome/fa-thermometer-2"},{"id":"1ba91a6c.dd5356","type":"subflow","name":"fan controller","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"afb70044.12d49"}]}],"out":[{"x":1200,"y":100,"wires":[{"id":"5ee78f4f.3fe67","port":0},{"id":"a8634850.0b08b8","port":0},{"id":"ed745817.0a1d28","port":0}]},{"x":1200,"y":200,"wires":[{"id":"ed745817.0a1d28","port":1}]}],"env":[],"color":"#DDAA99","inputLabels":["UI msg"],"outputLabels":["UI msg","fan signal"],"icon":"font-awesome/fa-futbol-o"},{"id":"4e96ea87.eb99f4","type":"subflow","name":"humidity controller","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"2cd8cbd7.124c34"}]}],"out":[{"x":1340,"y":120,"wires":[{"id":"c2269744.89b958","port":0},{"id":"1ec489ce.604096","port":0},{"id":"e493cadb.9c4518","port":0},{"id":"2cd8cbd7.124c34","port":4}]},{"x":1340,"y":160,"wires":[{"id":"2cd8cbd7.124c34","port":0},{"id":"2cd8cbd7.124c34","port":3}]},{"x":1340,"y":200,"wires":[{"id":"1ec489ce.604096","port":1}]},{"x":1340,"y":240,"wires":[{"id":"e493cadb.9c4518","port":1}]},{"x":1340,"y":280,"wires":[{"id":"6e4b93a2.032c6c","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["UI msg","UI msg to fan","dehumidifier control","humidifier control","humidity overload"],"icon":"font-awesome/fa-tint"},{"id":"a632d799.93a4d8","type":"subflow","name":"ventilation controller","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"ce1c0adb.d91538"}]}],"out":[{"x":1300,"y":120,"wires":[{"id":"468fb0dc.0bb","port":0},{"id":"b9866987.fbb6f8","port":0},{"id":"60cf7e1c.a133c","port":0},{"id":"bde83876.d0ee78","port":0},{"id":"ce1c0adb.d91538","port":3}]},{"x":1300,"y":200,"wires":[{"id":"bde83876.d0ee78","port":1}]}],"env":[],"color":"#DDAA99","inputLabels":["UI msg"],"outputLabels":["UI msg","ventilation signal"],"icon":"font-awesome/fa-leaf"},{"id":"865fb592.2877c8","type":"mqtt-broker","z":"","name":"localhost-mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"89d97a8a.301868","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3989bd20.f78b52","type":"uibuilder","z":"8f8f43f7.01481","name":"react_ui","topic":"","url":"react_ui","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"template":"","x":740,"y":120,"wires":[["ad55d4b4.cc7d18"],[]]},{"id":"24dc4c67.4103f4","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/valve_control","qos":"","retain":"","broker":"865fb592.2877c8","x":900,"y":460,"wires":[]},{"id":"77cec268.a1011c","type":"mqtt out","z":"960d5a8b.8e7398","d":true,"name":"","topic":"water_monitor/config","qos":"","retain":"","broker":"865fb592.2877c8","x":880,"y":580,"wires":[]},{"id":"992ceb5.f73f818","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/status_request","qos":"","retain":"","broker":"865fb592.2877c8","x":910,"y":520,"wires":[]},{"id":"80f459a9.9dd6f8","type":"inject","z":"960d5a8b.8e7398","name":"on startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":60,"wires":[["4123a6a8.b1dac8"]]},{"id":"922e897f.95aa08","type":"function","z":"960d5a8b.8e7398","d":true,"name":"when reconnected","func":"if (msg.payload == \"no timeout\") {\n    flow.set(\"water_monitor_online\", true);\n    //var newMsg = { payload: flow.get(\"wm_config_payload\")};\n    return { payload: flow.get(\"wm_config_payload\")};\n} else if (msg.payload == \"timeout\") {\n    flow.set(\"water_monitor_online\", false);\n    return null;\n}","outputs":1,"noerr":0,"x":370,"y":560,"wires":[[]]},{"id":"4123a6a8.b1dac8","type":"function","z":"960d5a8b.8e7398","name":"set vars & funcs","func":"flow.set(\"nodeRedDirectory\", global.get('path').join(global.get('os').homedir(), \".node-red\"))\n\nflow.set(\"reports_per_second\", 1);\nflow.set(\"wm_config_payload\", \"reports_per_second:\"+flow.get(\"reports_per_second\"));\nflow.set(\"TimeoutMs\", 15*60*1000) //15 minutes in milliseconds\n\nflow.set(\"water_pressure\", \"no data\")\n\n//connect to water database\nvar mongodb = global.get('mongodb')\nflow.set(\"mongoDbWaterUrl\", 'mongodb://nodered:noderedpassword@localhost:27017/?authMechanism=SCRAM-SHA-1&authSource=water')\n\nmongodb.MongoClient.connect(flow.get('mongoDbWaterUrl'), {native_parser:true}, function(err, client) {\n    if(err){\n        node.error(err)\n    } else {\n        flow.set(\"waterDb\", client.db('water'))\n        flow.set('waterDbDailyColl', client.db('water').collection(\"daily\"))\n    }\n})\n\n//source identification vars\nflow.set(\"clicksPreviousSecond\", 0)\nflow.set(\"lastStableClicks\", 0)\nflow.set(\"driftRange\", 1)\nflow.set(\"isTransitioning\", false)\nflow.set(\"currentlyRunningSources\", [])\n\nflow.set(\"sourceList\", JSON.parse(global.get('fs').readFileSync(global.get('path').join(flow.get(\"nodeRedDirectory\"), \"sourceList.json\"))))\n/*if(!flow.get(\"sourceList\", \"file\")){ \n    sourceList = [\n        { name: \"ktchn sink\", clicks: 13, quantity: 1 },\n        { name: \"bath sink\",  clicks: 17, quantity: 2 },\n        { name: \"dishwasher\", clicks: 10, quantity: 1 },\n        { name: \"toilet\",     clicks: 41, quantity: 2 },\n        { name: \"tub\",        clicks: 61, quantity: 1 },\n        { name: \"shower\",     clicks: 28, quantity: 1 },\n        { name: \"laundry\",    clicks: 33, quantity: 1 },\n        { name: \"studio\",     clicks: 36, quantity: 1 }\n    ]\n    flow.set(\"sourceList\", sourceList, \"file\") \n}*/\n\n//testing vars\nflow.set(\"testingNowDate\", undefined)\nflow.set(\"testingEnabled\", false)\n\n//functions\nflow.set(\"getNowDate\", function() { \n    if(flow.get(\"testingNowDate\")!==undefined){\n        return flow.get(\"testingNowDate\")\n    } else {\n        var now = new Date()\n        return now\n    }\n})\nflow.set(\"clicksToGallons\", function(clicks) {return (0.000925824*clicks + 0.0015719)})\n\nflow.set(\"gateOpen\", true)","outputs":1,"noerr":0,"x":320,"y":60,"wires":[[]]},{"id":"422a397b.8809a8","type":"change","z":"960d5a8b.8e7398","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"none","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":520,"wires":[["992ceb5.f73f818"]]},{"id":"9e917171.007cd","type":"link out","z":"960d5a8b.8e7398","name":"water daily","links":["19a0b940.f26c87"],"x":1210,"y":100,"wires":[],"l":true},{"id":"820ba66b.ca0938","type":"link in","z":"8f8f43f7.01481","name":"water flow","links":["e7a29659.12ef58"],"x":180,"y":100,"wires":[["794fef6a.78baa"]],"l":true},{"id":"e7a29659.12ef58","type":"link out","z":"960d5a8b.8e7398","name":"water flow","links":["820ba66b.ca0938"],"x":1200,"y":180,"wires":[],"l":true},{"id":"19a0b940.f26c87","type":"link in","z":"8f8f43f7.01481","name":"water daily","links":["9e917171.007cd","7876e37b.8716cc"],"x":180,"y":140,"wires":[["5c3bebc5.a3d204"]],"l":true},{"id":"794fef6a.78baa","type":"function","z":"8f8f43f7.01481","name":"water:flow formatting","func":"return {payload: {water: {liveInfo: {flow: msg.payload.toFixed(1)}}}}","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["5bc47948.7f16a8"]]},{"id":"5c3bebc5.a3d204","type":"function","z":"8f8f43f7.01481","name":"water:usage formatting","func":"return {payload: {water: {liveInfo: {usage: msg.payload.toFixed(0)}}}, reset: msg.reset}","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["8385c389.7de6d"]]},{"id":"25701d18.bfc8e2","type":"link in","z":"960d5a8b.8e7398","name":"msg from water ui","links":["99c343e2.45a4d"],"x":130,"y":120,"wires":[["b1821932.a25958"]],"l":true},{"id":"99c343e2.45a4d","type":"link out","z":"8f8f43f7.01481","name":"msg to water","links":["25701d18.bfc8e2"],"x":1110,"y":140,"wires":[],"l":true},{"id":"b1821932.a25958","type":"function","z":"960d5a8b.8e7398","name":"request router","func":"const now = flow.get(\"getNowDate\")()\nif(!(msg.payload == null)){\n    if(!(msg.payload.liveCard == null)){\n        node.send([{now: now, payload: \"initialize\"}, null, null, null])\n    }\n    if(!(msg.payload.chart == null)){\n        node.send([null, {payload: msg.payload.chart}, null, null])\n    }\n    if(!(msg.payload.valve == null)){\n        if(msg.payload.valve === \"initialize\"){\n            node.send([null, null, {payload: \"get valve status\"}, null])\n        } else if (msg.payload.valve === \"open\" || msg.payload.valve === \"close\"){\n            node.send([null, null, null, {payload: msg.payload.valve}])\n        }\n    }\n    if(!(msg.payload.pressure == null)){\n        node.send([null, null, null, null, {payload: \"initialize\"}])\n    }\n}","outputs":5,"noerr":0,"x":320,"y":120,"wires":[["fd517ee2.6d085","f297b903.11e038","3e421870.1c22b8"],["84caffe0.b23b5"],["422a397b.8809a8"],["24dc4c67.4103f4"],["c2e45d6c.3145"]],"outputLabels":["liveCard","chart","valve_initialize","valve_command","pressure_initialize"]},{"id":"cea90901.c67928","type":"function","z":"960d5a8b.8e7398","d":true,"name":"set reports_per_second","func":"var obj = JSON.parse(msg.payload);\nflow.set(\"reports_per_second\", obj.reports_per_second)\nreturn {payload: flow.get(\"reports_per_second\")}","outputs":1,"noerr":0,"x":390,"y":520,"wires":[[]]},{"id":"fd517ee2.6d085","type":"function","z":"960d5a8b.8e7398","name":"today/average","func":"main().catch((err) => { console.error(err) })\n\nasync function main(){\n    var todayStart = new Date(msg.now)\n    var todayNow = new Date(todayStart)\n    var todayEnd = new Date(todayStart)\n    todayStart.setHours(0,0,0,0)\n    todayEnd.setHours(24,0,0,0)\n    var currentSecond = Math.floor((todayNow.getTime()-todayStart.getTime())/1000)\n    \n    try {\n        var todayDocPromise = flow.get('waterDbDailyColl').findOne({created: { $gte:todayStart, $lt:todayEnd }}, {projection: {allTotal: 1}})\n    } catch(error) {\n        console.error(error)  \n    }\n    try {\n        var averageDocPromise = flow.get('waterDbDailyColl').findOne({docName:\"averages\"}, {projection: {allAverage: 1, secondAverages: { $slice: [currentSecond, 1] }}})\n    } catch(error) {\n        console.error(error)\n    }\n    \n    try{\n        var todayDoc = await todayDocPromise\n        var averageDoc = await averageDocPromise\n    } catch(error) {\n        console.error(error)\n    }\n    \n    var todayTotal = {payload: null}\n    var todayMsg = {topic: \"today\", payload: {total: null, tillNow: null}}\n    var averageMsg = {topic: \"average\", payload: {total: null, tillNow: null}}\n    \n    if(todayDoc){\n        todayTotal.payload = todayDoc.allTotal\n        todayMsg.payload.tillNow = todayDoc.allTotal\n        if(msg.payload === \"initialize\" || msg.payload === \"new day\"){\n            //todayMsg.reset = true\n            todayMsg.payload.reset = true //get rid of this if find more elegant way to handle\n        }\n    } else {\n        todayTotal.payload = 0\n        todayMsg.payload.tillNow = 0 //no doc so today's allTotal must be zero\n    }\n    \n    if(averageDoc){ //check doc exists\n            if(averageDoc.secondAverages.length > 0){ //check secondAverages had the element at the index we searched for\n                var averageGallonsSoFar = averageDoc.secondAverages[0]//since we sliced in query, we only have 1 element in array\n                var todaysPrediction = averageDoc.allAverage-(averageGallonsSoFar-todayTotal.payload)\n                todayMsg.payload.total = todaysPrediction\n                averageMsg.payload = {total: averageDoc.allAverage, tillNow: averageGallonsSoFar}\n            } /*else { //no secondAverages exists, but allAverage must exist\n                node.send([{topic: \"today\", payload: {total: msg.payload, tillNow: 0}}, \n                    {topic: \"average\", payload: {total: averageDoc.allAverage, tillNow: 0}}]) //switch total and tillNow, react code uses divide by total\n            }*/\n    } else { //no averages doc exists\n        //NOTE: here we switch total and tillNow, react code uses divide by total\n        todayMsg.payload.total = todayMsg.payload.tillNow\n        todayMsg.payload.tillNow = 0\n    }\n\n    node.send([todayTotal, todayMsg, averageMsg])\n    node.done()\n}","outputs":3,"noerr":0,"x":880,"y":120,"wires":[["9e917171.007cd"],["4cd16a2b.3c3984"],["4cd16a2b.3c3984","1f55a803.ff0d88"]],"outputLabels":["todayTotal","today","average"]},{"id":"423e65d8.5a5d7c","type":"link in","z":"8f8f43f7.01481","name":"water totals","links":["607a1016.60844"],"x":170,"y":180,"wires":[["9f7d4c9e.5568f"]],"l":true},{"id":"9f7d4c9e.5568f","type":"function","z":"8f8f43f7.01481","name":"water:totals formatting","func":"var newMsg = msg\n\nObject.keys(msg.payload).forEach(function(key,index) {\n    if(!(msg.payload[key].total == null)){\n        msg.payload[key].total = Number(msg.payload[key].total.toFixed(0))\n    } \n    if(!(msg.payload[key].tillNow == null)){\n        msg.payload[key].tillNow = Number(msg.payload[key].tillNow.toFixed(0))\n    }\n});\n\nvar newMsg = {payload: null}\nif(msg.payload.today.reset){\n    delete msg.payload.today[\"reset\"]\n    newMsg.reset = true\n}\nnewMsg.payload = {water: {liveInfo: {totals: msg.payload}}}\n\n\nreturn newMsg","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["58eefa4.df62204"]]},{"id":"607a1016.60844","type":"link out","z":"960d5a8b.8e7398","name":"water totals","links":["423e65d8.5a5d7c"],"x":1210,"y":140,"wires":[],"l":true},{"id":"57c4d280.1e83ac","type":"function","z":"960d5a8b.8e7398","name":"update flow, gallons, sources","func":"// input message should have\n// now = date of current data\n// payload = number of clicks\n\nmsg.payload = Number(msg.payload) //payload from water sensor arduino is a string\n\nmain().catch((err) => { console.error(err) })\n\nasync function main() {\n    var promises = []\n    var clicks = Number(msg.payload)\n    const now = new Date(msg.now)\n    var waterDateLastSeen = getAndUpdateLastSeenDate(\"waterDateLastSeen\", now)\n    //check for new day\n    var whatsNew = getWhichPeriodsAreNew(now, waterDateLastSeen)\n    //check for incomplete today/lastday\n    var [todayIncomplete, lastSeenIncomplete] = getWhichDaysIncomplete(whatsNew, now, waterDateLastSeen)\n\n    if(whatsNew.newDay){\n        try {\n            promises.push(handleNewDay(whatsNew, waterDateLastSeen, lastSeenIncomplete))\n        } catch(error) {\n            console.error(error)\n        }\n    }\n\n    identifySources(now, clicks)\n    node.send([null, null, { sources: flow.get(\"currentlyRunningSources\") }])\n\n    //update database with flow, gallon\n    if(msg.payload !== 0 || todayIncomplete  || whatsNew.newDay) { //if newday -> need to have a day doc even if there is no flow during that day\n        promises.push(updateDatabaseRecordAllTotal(now, todayIncomplete))\n    } else {\n        //send zero as flow data, this is used as trigger for getting today's prediction\n        node.send([{now: now, payload: 0}, null, null])\n    }\n\n    try {\n        await Promise.all(promises)\n    } catch(error) {\n        console.error(error)\n    }\n    node.done()\n}\n\nasync function updateDatabaseRecordAllTotal(now, todayIncomplete){\n    //search for today's doc\n    var start = new Date(now.valueOf())\n    var end = new Date(start.valueOf())\n    start.setHours(0,0,0,0)\n    end.setHours(24,0,0,0)\n    var doc = {\n        $setOnInsert: { \n            created: now\n        },\n        $currentDate: {modified: true}\n    }\n    if(msg.payload !== 0){\n        doc.$inc =  { allTotal: flow.get('clicksToGallons')(msg.payload) },\n        doc.$push = { timeRecord: { clicks: msg.payload, created: now, sources: flow.get(\"currentlyRunningSources\") }}\n    } else { //in case non-zero flow is triggering this new database entry (i.e. on a new day), we don't conflict with $inc.allTotal\n        doc.$setOnInsert.allTotal = 0\n    }\n    if(todayIncomplete){\n        doc.$set = { incomplete : true }\n    } else { \n        doc.$set = { incomplete : false } \n    }\n    try {\n        await flow.get('waterDbDailyColl').updateOne({created: { $gte:start, $lt:end }}, doc, {upsert:true, w: 1})\n    } catch(error) {\n        console.error(error)\n    }\n    node.send([{now: now, payload: flow.get('clicksToGallons')(msg.payload)*60}, null, null])\n}\n\nfunction getAndUpdateLastSeenDate(name, now){\n    var dateLastSeen\n    var waterDateLastSeenStr = flow.get(name, \"file\")\n    if(waterDateLastSeenStr){\n        dateLastSeen = new Date(waterDateLastSeenStr)\n    } else {\n        dateLastSeen = new Date(now)\n    }\n\n    //update date last seen to now\n    flow.set(name, now, \"file\")\n    return dateLastSeen\n}\n\nfunction getWhichPeriodsAreNew(now, lastSeen){\n    var whatsNew = {newDay: false, nowDate: now, lastSeenDate: lastSeen}\n    if (!(lastSeen.getDate() == now.getDate() &&\n        lastSeen.getMonth() == now.getMonth() &&\n        lastSeen.getFullYear() == now.getFullYear())){\n        whatsNew.newDay = true\n        if(now.getDay()===1){ //if 1, then it's a Monday, so new week\n            whatsNew.newWeek = true\n        }\n        if(lastSeen.getMonth() !== now.getMonth()){\n            whatsNew.newMonth = true\n            if(lastSeen.getFullYear() !== now.getFullYear()){\n                whatsNew.newYear = true\n            }\n        }\n    }\n    return whatsNew\n}\n\nfunction getWhichDaysIncomplete(whatsNew, now, lastSeen){\n    var todayIncomplete = false\n    var lastSeenIncomplete = false\n    if((now.getTime()-lastSeen.getTime())>flow.get(\"TimeoutMs\")){\n        //if more than timeout since midnight\n        var lastMidnight = new Date(now.getTime())\n        lastMidnight.setHours(0,0,0,0)\n        if ((now.getTime()-lastMidnight.getTime())>flow.get(\"TimeoutMs\")){\n            todayIncomplete = true\n        }\n        if (whatsNew.newDay) {\n            var dateLastSeenMidnight = new Date(lastSeen.getTime())\n            dateLastSeenMidnight.setHours(24,0,0,0)\n            if((dateLastSeenMidnight.getTime()-lastSeen.getTime())>flow.get(\"TimeoutMs\")){\n                lastSeenIncomplete = true\n            }\n        }\n    }\n    return [todayIncomplete, lastSeenIncomplete]\n}\n\nasync function handleNewDay(whatsNew, lastSeenDate, lastSeenIncomplete){\n    if(lastSeenIncomplete){\n        // update last seen doc to incomplete\n        var start = new Date(lastSeenDate.getTime())\n        var end = new Date(start.getTime())\n        start.setHours(0,0,0,0)\n        end.setHours(24,0,0,0)\n        var doc = {\n            $set: { incomplete : true },\n            $currentDate: {modified: true}\n        }\n        try {\n            var promise = flow.get('waterDbDailyColl').update({created: { $gte:start, $lt:end }}, doc, {w: 1}).catch((e) => { console.error(e) })\n        } catch(error){\n            console.error(error)\n        }\n        node.send([null, {payload: whatsNew}, null])\n    } else {\n        node.send([null, {payload: whatsNew}, null])\n    }\n    try {\n        await promise\n    } catch(error) {\n        console.error(error)\n    }\n}\n\nfunction identifySources(now, clicks){\n    //console.log(\"identifySources(...)\")\n    //console.log(\"clicks: \"+clicks+\", clicksPreviousSecond: \"+flow.get(\"clicksPreviousSecond\")+\", margin: \"+(flow.get(\"currentlyRunningSources\").length || 1)*flow.get(\"driftRange\")+\n    //    \", currentlyRunningSources: \"+flow.get(\"currentlyRunningSources\")\n\n    if(!isValueInRange(clicks, flow.get(\"clicksPreviousSecond\"), flow.get(\"driftRange\"))) {\n        if(flow.get(\"isTransitioning\")!==true) {\n            flow.set(\"isTransitioning\", true) //set even if already set\n            flow.set(\"lastStableClicks\", flow.get(\"clicksPreviousSecond\"))\n        }\n    } else { //not in transition\n        if(flow.get(\"isTransitioning\")){ //transition has just completed\n            var signature = clicks-flow.get(\"lastStableClicks\")\n            var currentlyRunningSources = flow.get(\"currentlyRunningSources\")\n            var sourceList = flow.get(\"sourceList\")\n            if(!tryFindAndHandleSourceMatch(signature, sourceList, currentlyRunningSources)) { \n                //no source match or could not handle match, so add/remove to/from unknown\n                var currentlyRunningSourcesTotal = getCurrentlyRunningSourcesTotal(currentlyRunningSources)\n                if(signature > 0){\n                    addToUnknownSource(signature, currentlyRunningSources, currentlyRunningSourcesTotal)\n                } else {\n                    removeFromUnknownSource(signature, currentlyRunningSources, currentlyRunningSourcesTotal)\n                }\n            }\n                        \n            //update global variables\n            flow.set(\"currentlyRunningSources\", currentlyRunningSources)\n            flow.set(\"isTransitioning\", false)\n        }\n    }\n    //set \"clicksPreviousSecond\", signature calculation uses \"lastStableClicks\" so we don't have to worry about slow drifting\n    flow.set(\"clicksPreviousSecond\", clicks)\n    //failsafe\n    if(clicks === 0){ flow.set(\"currentlyRunningSources\", []) }\n}\n\nfunction tryFindAndHandleSourceMatch(signature, sourceList, currentlyRunningSources){\n    //console.log(\"tryFindAndHandleSourceMatch(...)\")\n    var found = false\n    for(let i = 0; i<sourceList.length; i++){\n        if(isMatch(signature, sourceList[i])){\n            if(signature>0){ //position transition so add it, this is always true when called to identify \"unknown\" category\n                found = addSource(sourceList[i], currentlyRunningSources) //found could be false if already had max number of sources\n            } else { //negative transition so remove it\n                found = removeSource(sourceList[i], currentlyRunningSources) //found could be false if matched source didn't exists in currentlyRunningSources so it should be taken from \"unknown\"\n            }\n            //console.log(\"currentlyRunningSources: \"+currentlyRunningSources)\n            break //found match so don't need to search anymore\n        }\n    } \n    return found\n}\n\nfunction isMatch(signature, sourceListItem){\n    return isValueInRange(Math.abs(signature), sourceListItem.median, sourceListItem.range) //can't use currentDrift because reference signatures are too close\n}\n\nfunction isValueInRange(value, median, range){\n    //console.log(\"isInRange(...)\")\n    return Math.abs(value-median)<=range\n}\n\n//adds sourceListItem into currentlyRunningSources - adds new if doesn't exist, increment quantity if it does\n//returns true if successful\nfunction addSource(sourceListItem, currentlyRunningSources, currentSourcesOn){\n    //console.log(\"addNewSource(...)\")\n    let isSuccessfullyAdded = false\n    //check that we don't already have max sources of this type on\n    var numberOfTheseSources = getNumberOfTheseSources(sourceListItem, currentlyRunningSources)\n    if(numberOfTheseSources === 0){ //if doesn't exist in currentlyRunningSources yet...\n        currentlyRunningSources.push({name: sourceListItem.name, clicks: sourceListItem.median, quantity: 1})\n        isSuccessfullyAdded = true\n    } else { //if exists already, add another\n        for(let j=0; j<currentlyRunningSources.length; j++){\n            if(currentlyRunningSources[j].name === sourceListItem.name){\n                isSuccessfullyAdded=true\n                currentlyRunningSources[j].clicks += sourceListItem.median\n                currentlyRunningSources[j].quantity++\n                break\n            }\n        }\n    }\n    return isSuccessfullyAdded\n}\n\n//removes sourceListItem from currentlyRunningSources if it is present\n//returns true if successful\nfunction removeSource(sourceListItem, currentlyRunningSources, currentSourcesOn){\n    //console.log(\"removeSource(...)\")\n    let isSuccessfullyRemoved = false\n    for(let j=0; j<currentlyRunningSources.length; j++){\n        if(currentlyRunningSources[j].name === sourceListItem.name){\n            isSuccessfullyRemoved=true\n            if(currentlyRunningSources[j].quantity>1){\n                currentlyRunningSources[j].clicks -= sourceListItem.median\n                currentlyRunningSources[j].quantity--\n            } else {\n                currentlyRunningSources.splice(j, 1)\n            }\n            break\n        }\n    }\n    return isSuccessfullyRemoved\n}\n\nfunction getNumberOfTheseSources(sourceListItem, currentlyRunningSources){\n    for(var j=0; j<currentlyRunningSources.length; j++){\n        if(currentlyRunningSources[j].name === sourceListItem.name)\n        { \n            return currentlyRunningSources[j].quantity \n        }\n    }\n    return 0\n}\n\nfunction getCurrentlyRunningSourcesTotal(currentlyRunningSources){\n    let currentlyRunningSourcesTotal = 0\n    for(let i=0; i<currentlyRunningSources.length; i++){\n        currentlyRunningSourcesTotal += currentlyRunningSources[i].clicks\n    } \n    return currentlyRunningSourcesTotal\n}\n\n//adds signature to sources \"unknown\" if exist, otherwise, creates source \"unknown\"\nfunction addToUnknownSource(signature, currentlyRunningSources, currentlyRunningSourcesTotal){\n    //console.log(\"addToUnknownSource(...)\")\n    let isSuccessfullyAdded = true\n    if(currentlyRunningSources.length>0 && currentlyRunningSources[0].name===\"unknown\") { //if \"unknown\" is in array, it will always be first\n        currentlyRunningSources[0].clicks += signature\n    } else { //need to add \"unknown\" as first element in array\n        currentlyRunningSources.unshift({name: \"unknown\", clicks: signature, quantity: 1})\n    }\n    return isSuccessfullyAdded\n}\n\n//removes signature from unknown if exists and removes unknown if it is zero or less, otherwise does nothing\nfunction removeFromUnknownSource(signature, currentlyRunningSources, currentlyRunningSourcesTotal){\n    //console.log(\"removeFromFirstSource(...)\")\n    let isSuccessfullyRemoved = false\n    if(currentlyRunningSources.length>0 && currentlyRunningSources[0].name===\"unknown\"){\n        currentlyRunningSources[0].clicks += signature\n        if(currentlyRunningSources[0].clicks <= 0){\n            currentlyRunningSources.splice(0, 1)\n        }\n        isSuccessfullyRemoved = true\n    } else { } //no unknown source, nothing we can accurately do...\n    return isSuccessfullyRemoved\n}","outputs":3,"noerr":0,"x":600,"y":180,"wires":[["e7a29659.12ef58","fd517ee2.6d085","e8ca1c77.94587"],["e0a36cb5.e0925","1f55a803.ff0d88"],["d2c35a33.048b68"]],"outputLabels":["flow","new day","sources"]},{"id":"5bc47948.7f16a8","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":100,"wires":[["3989bd20.f78b52"]]},{"id":"8385c389.7de6d","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":140,"wires":[["3989bd20.f78b52"]]},{"id":"4cd16a2b.3c3984","type":"join","z":"960d5a8b.8e7398","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":140,"wires":[["607a1016.60844"]]},{"id":"58eefa4.df62204","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":180,"wires":[["3989bd20.f78b52"]]},{"id":"699ef694.57f4c8","type":"function","z":"960d5a8b.8e7398","name":"gate/add now","func":"if(flow.get(\"waterDb\")===undefined){\n    //database not yet connected, do nothing\n} else if(flow.get(\"gateOpen\")===true) { //checking that all variable/function initialization has completed\n    msg.now = flow.get(\"getNowDate\")()\n    return msg;\n}\n","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["57c4d280.1e83ac"]]},{"id":"d2c35a33.048b68","type":"link out","z":"960d5a8b.8e7398","name":"water sources","links":["41ced401.4b6fac"],"x":1220,"y":220,"wires":[],"l":true},{"id":"41ced401.4b6fac","type":"link in","z":"8f8f43f7.01481","name":"water sources","links":["d2c35a33.048b68"],"x":170,"y":220,"wires":[["da518dc6.4a46"]],"l":true},{"id":"da518dc6.4a46","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"sources","x":310,"y":220,"wires":[["324ebaba.989c06"]]},{"id":"324ebaba.989c06","type":"function","z":"8f8f43f7.01481","name":"water:sources formatting","func":"var newMsg = {payload: {water: {liveInfo: {sources: []}}}}\nfor (let i=0; i<msg.sources.length; i++){\n    for(let j=0; j<msg.sources[i].quantity; j++){\n        newMsg.payload.water.liveInfo.sources.push({name: msg.sources[i].name, clicks: msg.sources[i].clicks/msg.sources[i].quantity})\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["3989bd20.f78b52"]]},{"id":"84caffe0.b23b5","type":"function","z":"960d5a8b.8e7398","name":"get chartData","func":"if(msg.payload.range === \"now\"){\n    /*var chartData = {\n      chart: {\n        caption: \"Yearly Energy Production\",\n        numbersuffix: \" TWh\",\n        formatnumberscale: \"0\",\n        showvalues: \"0\",\n        drawcrossline: \"1\",\n        showsum: \"1\",\n        plottooltext: \"$dataValue from $seriesName\",\n        theme: \"candy\"\n      },\n      categories: [\n        {\n          category: [\n            {\n              label: \"Canada\"\n            },\n            {\n              label: \"China\"\n            },\n            {\n              label: \"Russia\"\n            },\n            {\n              label: \"Australia\"\n            },\n            {\n              label: \"United States\"\n            },\n            {\n              label: \"France\"\n            }\n          ]\n        }\n      ],\n      dataset: [\n        {\n          seriesname: \"Coal\",\n          data: [\n            {\n              value: \"400\"\n            },\n            {\n              value: \"830\"\n            },\n            {\n              value: \"500\"\n            },\n            {\n              value: \"420\"\n            },\n            {\n              value: \"790\"\n            },\n            {\n              value: \"380\"\n            }\n          ]\n        },\n        {\n          seriesname: \"Hydro\",\n          data: [\n            {\n              value: \"350\"\n            },\n            {\n              value: \"620\"\n            },\n            {\n              value: \"410\"\n            },\n            {\n              value: \"370\"\n            },\n            {\n              value: \"720\"\n            },\n            {\n              value: \"310\"\n            }\n          ]\n        },\n        {\n          seriesname: \"Nuclear\",\n          data: [\n            {\n              value: \"210\"\n            },\n            {\n              value: \"400\"\n            },\n            {\n              value: \"450\"\n            },\n            {\n              value: \"180\"\n            },\n            {\n              value: \"570\"\n            },\n            {\n              value: \"270\"\n            }\n          ]\n        },\n        {\n          seriesname: \"Gas\",\n          data: [\n            {\n              value: \"180\"\n            },\n            {\n              value: \"330\"\n            },\n            {\n              value: \"230\"\n            },\n            {\n              value: \"160\"\n            },\n            {\n              value: \"440\"\n            },\n            {\n              value: \"350\"\n            }\n          ]\n        },\n        {\n          seriesname: \"Oil\",\n          data: [\n            {\n              value: \"60\"\n            },\n            {\n              value: \"200\"\n            },\n            {\n              value: \"200\"\n            },\n            {\n              value: \"50\"\n            },\n            {\n              value: \"230\"\n            },\n            {\n              value: \"150\"\n            }\n          ]\n        }\n      ]\n    }*/\n    flow.set(\"currentChartInit\", true)\n    flow.set(\"currentChartRange\", \"now\")\n    //return {payload: chartData}\n} else {\n    flow.set(\"currentChartRange\", \"undefined\")\n}\nreturn null","outputs":1,"noerr":0,"x":880,"y":47,"wires":[["c23da2f2.dc8dd"]]},{"id":"c23da2f2.dc8dd","type":"link out","z":"960d5a8b.8e7398","name":"water chart","links":["e0c59597.e859b8"],"x":1210,"y":60,"wires":[],"l":true},{"id":"e0c59597.e859b8","type":"link in","z":"8f8f43f7.01481","name":"water chart","links":["c23da2f2.dc8dd"],"x":180,"y":60,"wires":[["a307b512.8aac68"]],"l":true},{"id":"a307b512.8aac68","type":"function","z":"8f8f43f7.01481","name":"water:chart formatting","func":"return {payload: {water: {chart: {chartData: msg.payload}}}}","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["3989bd20.f78b52"]]},{"id":"e0a36cb5.e0925","type":"function","z":"960d5a8b.8e7398","name":"update daily/weekly/monthly/yearly","func":"//expected input msg has:\n//msg.payload = whatsNew\n\n//update db\nif(msg.payload.newDay){\n    var updateScriptPath = global.get('path').join(flow.get(\"nodeRedDirectory\"), \"updateDatabase.js\")\n    //console.log(updateScriptPath)\n    try {\n        var updateStartTime = new Date()\n        const updateProcess = global.get('child_process').fork(updateScriptPath, [flow.get('mongoDbWaterUrl'), JSON.stringify(msg.payload)])\n        updateProcess.on('message', function( childMsg ) {\n            if(childMsg.success){\n                var updateEndTime = new Date()\n                var updateTime = updateEndTime.getTime()-updateStartTime.getTime()\n                console.log(\"update time was \"+updateTime+\" milliseconds\")\n                node.send({now: msg.payload.nowDate, payload: \"new day\"})\n                node.done()\n            }\n        })\n    } catch(error) {\n        console.error(error)\n    }\n}","outputs":1,"noerr":0,"x":920,"y":240,"wires":[["f297b903.11e038","fd517ee2.6d085","1f55a803.ff0d88"]]},{"id":"f297b903.11e038","type":"function","z":"960d5a8b.8e7398","name":"yesterday","func":"var todayStart = new Date(msg.now)\nvar yesterdayStart = new Date(todayStart)\nyesterdayStart.setDate(todayStart.getDate()-1)\nvar yesterdayEnd = new Date(yesterdayStart)\nyesterdayStart.setHours(0,0,0,0)\nyesterdayEnd.setHours(24,0,0,0)\n\nmain().catch((err) => { console.error(err) })\n\nasync function main(){\n    try {\n        var yesterdayDocPromise = flow.get('waterDbDailyColl').findOne({created: { $gte:yesterdayStart, $lt:yesterdayEnd }}, {projection: {allTotal: 1}})\n    } catch(error) {\n        console.error(error)\n    }\n    \n    try {\n        var yesterdayDoc = await yesterdayDocPromise\n    } catch(error) {\n        console.error(error)\n    }\n    \n    var yesterdayMsg = {topic: \"yesterday\", payload: {total: null, tillNow: null}}\n    \n    if(yesterdayDoc){\n        yesterdayMsg = {topic: \"yesterday\", payload: {total: yesterdayDoc.allTotal, tillNow: 0}}\n    } /*else {\n        console.log(\"no yesterday doc, yesterday doc = \"+yesterdayDoc+\" yesterdayStart = \"+yesterdayStart+\", yesterdayEnd = \"+yesterdayEnd)\n    }*/\n    \n    node.send(yesterdayMsg)\n    node.done()\n}","outputs":1,"noerr":0,"x":860,"y":160,"wires":[["4cd16a2b.3c3984"]]},{"id":"7d9bb422.65e6ec","type":"mqtt in","z":"960d5a8b.8e7398","d":true,"name":"","topic":"testing/now","qos":"0","datatype":"auto","broker":"865fb592.2877c8","x":110,"y":400,"wires":[["5239ac2d.847414"]]},{"id":"5239ac2d.847414","type":"function","z":"960d5a8b.8e7398","d":true,"name":"set now","func":"//console.log(msg)\ntry{\n    var nowDate = new Date(msg.payload)\n} catch(error){\n    throw new Error(error)\n}\nflow.set(\"testingNowDate\", nowDate)\n//console.log(\"testingNowDate: \"+flow.get(\"testingNowDate\")+\", getNowDate: \"+flow.get(\"getNowDate\")())\nreturn {payload: nowDate}","outputs":1,"noerr":0,"x":100,"y":440,"wires":[["9765ee1c.54123"]]},{"id":"1f55a803.ff0d88","type":"function","z":"960d5a8b.8e7398","name":"done Gate","func":"if(flow.get(\"testingEnabled\")){\n    if(msg.payload.newDay){\n        //console.log(\"newDay, returnGateOpen=false\")\n        flow.set(\"returnGateOpen\", false)\n    } else if(msg.payload === \"new day\") {\n        //console.log(\"done updating, returnGateOpen=true\")\n        flow.set(\"returnGateOpen\", true)\n        if(flow.get(\"msgBlocked\")){\n            //console.log(\"done updating, msg was blocked, sending one\")\n            flow.set(\"msgBlocked\", false)\n        }\n    } else if(flow.get(\"returnGateOpen\")){\n        //console.log(\"gate open, sending message\")\n        var sources = flow.get(\"currentlyRunningSources\").map(a => (a.name+\"-\"+a.clicks))\n        return {payload:sources.toString()}\n    } else {\n        //console.log(\"gate closed, msg blocked\")\n        flow.set(\"msgBlocked\", true)\n    }\n}","outputs":1,"noerr":0,"x":1050,"y":300,"wires":[["59dba63.2790f58"]]},{"id":"59dba63.2790f58","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"testing/ready","qos":"0","retain":"","broker":"865fb592.2877c8","x":1210,"y":300,"wires":[]},{"id":"18275ab6.5bbe05","type":"mqtt in","z":"960d5a8b.8e7398","d":true,"name":"","topic":"testing/lastSeen","qos":"0","datatype":"auto","broker":"865fb592.2877c8","x":120,"y":480,"wires":[["4025ffc1.14f9d"]]},{"id":"4025ffc1.14f9d","type":"function","z":"960d5a8b.8e7398","d":true,"name":"set lastSeen","func":"//console.log(msg)\ntry{\n    var lastSeenDate = new Date(msg.payload)\n} catch(error){\n    throw new Error(error)\n}\nflow.set(\"waterDateLastSeen\", lastSeenDate, \"file\")\n//console.log(flow.get(\"waterDateLastSeen\", \"file\"))\nreturn {payload: lastSeenDate}","outputs":1,"noerr":0,"x":110,"y":520,"wires":[["9765ee1c.54123"]]},{"id":"9765ee1c.54123","type":"function","z":"960d5a8b.8e7398","d":true,"name":"enable Testing","func":"if(flow.get(\"testingEnabled\")===false){\n    flow.set(\"TimeoutMs\", 60*60*1000)\n    flow.set(\"returnGateOpen\", true)\n    flow.set(\"testingEnabled\", true)\n    return {payload: \"testing enabled, gate open\"}\n}","outputs":1,"noerr":0,"x":120,"y":560,"wires":[[]]},{"id":"70221827.215ba8","type":"inject","z":"960d5a8b.8e7398","name":"manual update trigger","topic":"","payload":"{\"newDay\":true,\"newWeek\":true,\"newMonth\":false,\"newYear\":false,\"nowDate\":\"2016-03-14T04:55:19.000Z\",\"lastSeenDate\":\"2016-03-14T03:56:18.000Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":240,"wires":[["e0a36cb5.e0925"]]},{"id":"a8406c82.dd5e5","type":"debug","z":"960d5a8b.8e7398","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":380,"wires":[]},{"id":"3e421870.1c22b8","type":"function","z":"960d5a8b.8e7398","name":"sources","func":"return { sources: flow.get(\"currentlyRunningSources\"), reset: true }","outputs":1,"noerr":0,"x":860,"y":193,"wires":[["d2c35a33.048b68"]]},{"id":"ee3c4384.6c489","type":"debug","z":"8f8f43f7.01481","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":440,"wires":[]},{"id":"e8ca1c77.94587","type":"function","z":"960d5a8b.8e7398","name":"live chart data","func":"if(flow.get(\"currentChartRange\")===\"now\"){\n    var now = new Date(msg.now)\n    \n    label = now.getMinutes() + \":\" +\n    addLeadingZero(now.getSeconds())\n    \n    showValuesStr = \"&showLabel=0\"\n    if(flow.get(\"currentChartInit\")){\n        flow.set(\"currentChartInit\", false)\n    }\n    if((now.getSeconds()%10)==0){\n        showValuesStr = \"&showLabel=1\"\n    }\n    \n    // Build Data String in format &label=...&value=...\n    strData = \"&label=\"+label+showValuesStr+\"&value=\"+msg.payload\n    \n    return {payload: strData}\n}\n\nfunction addLeadingZero(num) {\nreturn (num <= 9) ? (\"0\" + num) : num;\n}","outputs":1,"noerr":0,"x":880,"y":79,"wires":[["c23da2f2.dc8dd"]]},{"id":"4455ec4c.4314a4","type":"link in","z":"8f8f43f7.01481","name":"water valve","links":["c8c0c66f.bd5c68"],"x":170,"y":260,"wires":[["47afb53d.2c496c"]],"l":true},{"id":"47afb53d.2c496c","type":"function","z":"8f8f43f7.01481","name":"water:valve formatting","func":"return {payload: {water: {valve: msg.payload}}}","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["3989bd20.f78b52"]]},{"id":"c8c0c66f.bd5c68","type":"link out","z":"960d5a8b.8e7398","name":"water valve","links":["4455ec4c.4314a4"],"x":410,"y":240,"wires":[],"l":true},{"id":"5cc4e574.d6dcdc","type":"link out","z":"960d5a8b.8e7398","name":"water pressure","links":["2979e838.0bc228"],"x":640,"y":280,"wires":[],"l":true},{"id":"2979e838.0bc228","type":"link in","z":"8f8f43f7.01481","name":"water pressure","links":["5cc4e574.d6dcdc"],"x":180,"y":300,"wires":[["2137f7c6.3c9068"]],"l":true},{"id":"a58fd82a.f879a8","type":"function","z":"8f8f43f7.01481","name":"water:pressure formatting","func":"return {payload: {water: {pressure: msg.payload}}}","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["3989bd20.f78b52"]]},{"id":"2137f7c6.3c9068","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":300,"wires":[["a58fd82a.f879a8"]]},{"id":"196d41c0.3f6b9e","type":"function","z":"960d5a8b.8e7398","name":"pressure conversion","func":"flow.set(\"water_pressure\", Math.round((msg.payload-102)*0.0733))\nreturn {payload: flow.get(\"water_pressure\")}\n//x range is : 0 to 1023\n//x range is : 0.5V to 4.5V which is 102 to 921\n//102 is 0 PSI, 921 is 60 PSI\n//0.5/5=x/1023  (0.5/5)*1023=102.3\n//4.5/5=x/1023 (4.5/5)*1023=920.7\n//921-102=819\n//60/819=0.0733  \n//y=(x-102)*0.0733","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["5cc4e574.d6dcdc"]]},{"id":"c2e45d6c.3145","type":"function","z":"960d5a8b.8e7398","name":"pressure init","func":"return {reset: true, payload: flow.get(\"water_pressure\")}\n//x range is : 0 to 1023\n//x range is : 0.5V to 4.5V which is 102 to 921\n//102 is 0 PSI, 921 is 60 PSI\n//0.5/5=x/1023  (0.5/5)*1023=102.3\n//4.5/5=x/1023 (4.5/5)*1023=920.7\n//921-102=819\n//60/819=0.0733  \n//y=(x-102)*0.0733","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["5cc4e574.d6dcdc"]]},{"id":"ad55d4b4.cc7d18","type":"switch","z":"8f8f43f7.01481","name":"msg router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dashboard","vt":"str"},{"t":"eq","v":"water","vt":"str"},{"t":"eq","v":"air","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":910,"y":180,"wires":[["3989bd20.f78b52"],["99c343e2.45a4d"],["5b172f40.092d2"]],"outputLabels":["dashboard","water","air"]},{"id":"5b172f40.092d2","type":"link out","z":"8f8f43f7.01481","name":"msg to air","links":["18977322.acaf6d"],"x":1100,"y":180,"wires":[],"l":true},{"id":"18977322.acaf6d","type":"link in","z":"d118769e.e67518","name":"msg from air ui","links":["5b172f40.092d2"],"x":120,"y":100,"wires":[["545993e3.d066cc"]],"l":true},{"id":"545993e3.d066cc","type":"function","z":"d118769e.e67518","name":"msg router","func":"if(!(msg.payload == null)){\n    if(!(msg.payload.temperature == null)){\n        //temperature requests\n        node.send([msg])\n    } else if(!(msg.payload.humidity == null)){\n        //humidity requests\n        node.send([null, msg])\n    } else if(!(msg.payload.ventilation == null)){\n        //humidity requests\n        node.send([null, null, msg])\n    } else if(!(msg.payload.testingModeOn == null)){\n        flow.set(\"testingModeOn\", msg.payload.testingModeOn)\n    }\n}","outputs":3,"noerr":0,"x":330,"y":100,"wires":[["6f2d7df4.4ee934"],["d0156983.cd6c38"],["f0086651.ed5f98"]],"outputLabels":["temperature","humidity","ventilation"]},{"id":"98b87829.e93938","type":"function","z":"d93e8bdf.747338","name":"init temperature","func":"if(msg.initialize === \"liveData\"){\n    return {reset: true, topic: \"liveData\", payload: \n        {\n            mode: flow.get(\"$parent.air.temperature.controls.mode\", \"file\"),\n            setpoint: (flow.get(\"$parent.air.temperature.controls.timeMode\", \"file\") === 0) ? flow.get(\"$parent.air.temperature.controls.setpoint\", \"file\") : flow.get(\"$parent.air.temperature.controls.setpointTemporary\", \"file\"),\n            temperatureIn: flow.get(\"$parent.temperatureIn\"),\n            temperatureOut: flow.get(\"$parent.temperatureOut\"),\n            unitOn: flow.get(\"temperatureUnitOn\"),\n            timeMode: flow.get(\"$parent.air.temperature.controls.timeMode\", \"file\"),\n        }\n    }\n} else if(msg.initialize === \"settings\"){\n    const temperatureSettingsThisMode = flow.get(\"$parent.air.temperature.settings[\"+msg.index+\"]\", \"file\")\n    return {reset: true, topic: \"settings\", payload: \n        {\n            wakeOn: temperatureSettingsThisMode.wakeOn,\n            wakeSetpoint: temperatureSettingsThisMode.wakeSetpoint,\n            wakeTime: temperatureSettingsThisMode.wakeTime,\n            sleepOn: temperatureSettingsThisMode.sleepOn,\n            sleepSetpoint: temperatureSettingsThisMode.sleepSetpoint,\n            sleepTime: temperatureSettingsThisMode.sleepTime,\n            leaveOn: temperatureSettingsThisMode.leaveOn,\n            leaveSetpoint: temperatureSettingsThisMode.leaveSetpoint,\n        }\n    }\n}\n\n","outputs":1,"noerr":0,"x":440,"y":80,"wires":[[]]},{"id":"109ac983.58fa36","type":"link out","z":"d118769e.e67518","name":"air temperature","links":["3c8675ab.8b04ca"],"x":1120,"y":200,"wires":[],"l":true},{"id":"3c8675ab.8b04ca","type":"link in","z":"8f8f43f7.01481","name":"air temperature","links":["109ac983.58fa36"],"x":180,"y":360,"wires":[["6b4cdeaf.870d3"]],"l":true},{"id":"4d7c15b2.1a5dec","type":"function","z":"8f8f43f7.01481","name":"air:temperature formatting","func":"if(msg.topic == \"liveData\"){\n    return {payload: {air: {liveData: {temperatureData: msg.payload}}}}\n} else if (msg.topic == \"settings\"){\n    return {payload: {air: {temperatureSettings: msg.payload}}}\n}","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["3989bd20.f78b52","ee3c4384.6c489"]]},{"id":"6b4cdeaf.870d3","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":360,"wires":[["4d7c15b2.1a5dec"]]},{"id":"468fb0dc.0bb","type":"function","z":"a632d799.93a4d8","name":"init ventilation","func":"if(msg.initialize === \"liveData\"){\n    return {reset: true, topic: \"liveData\", payload: \n        {\n            mode: flow.get(\"$parent.air.ventilation.controls.mode\", \"file\"), //0-\"off\", 1-\"auto\", 2-\"15\", 3-\"30\", 4-\"60\", 5-\"120\", 6-\"240\"\n            setpoint: flow.get(\"$parent.air.ventilation.controls.setpoint\", \"file\"),\n            co2In: flow.get(\"$parent.co2In\"),\n            unitOn: flow.get(\"ventilationUnitOn\"),\n            modeText: flow.get(\"ventilationModeText\")\n        }\n    }\n} else if(msg.initialize === \"settings\"){\n    const ventilationSettings = flow.get(\"$parent.air.ventilation.settings\", \"file\")\n    const lastCalibrationDate = new Date(flow.get(\"$parent.air.ventilation.settings.lastCalibrationDate\", \"file\"))\n    const today = new Date()\n    const calibrationDaysAgo = DaysBetween(lastCalibrationDate, today)\n    return {reset: true, topic: \"settings\", payload: \n        {\n            offHoursOn: ventilationSettings.offHoursOn,\n            offHoursStartTime: ventilationSettings.offHoursStartTime,\n            offHoursEndTime: ventilationSettings.offHoursEndTime,\n            temperatureAssistOn: ventilationSettings.temperatureAssistOn,\n            temperatureAssistLimit: ventilationSettings.temperatureAssistLimit,\n            calibrationDaysAgo: calibrationDaysAgo,\n        }\n    }\n}\n\nfunction DaysBetween(StartDate, EndDate) {\n  // The number of milliseconds in all UTC days (no DST)\n  const oneDay = 1000 * 60 * 60 * 24;\n\n  // A day in UTC always lasts 24 hours (unlike in other time formats)\n  const start = Date.UTC(EndDate.getFullYear(), EndDate.getMonth(), EndDate.getDate());\n  const end = Date.UTC(StartDate.getFullYear(), StartDate.getMonth(), StartDate.getDate());\n\n  // so it's safe to divide by 24 hours\n  return (start - end) / oneDay;\n}","outputs":1,"noerr":0,"x":420,"y":120,"wires":[[]]},{"id":"c2269744.89b958","type":"function","z":"4e96ea87.eb99f4","name":"init humidity","func":"if(msg.initialize === \"liveData\"){\n    return {reset: true, topic: \"liveData\", payload: \n        {\n            mode: flow.get(\"$parent.air.humidity.controls.mode\", \"file\"),\n            setpoint: flow.get(\"$parent.air.humidity.controls.setpoint\", \"file\"),\n            humidityIn: flow.get(\"$parent.humidityIn\"),\n            humidityOut: flow.get(\"$parent.humidityOut\"),\n            unitOn: (flow.get(\"humidifierUnitOn\") || flow.get(\"dehumidifierUnitOn\")),\n        }\n    }\n} else if(msg.initialize === \"settings\"){\n    const humiditySettingsThisMode = flow.get(\"$parent.air.humidity.settings[\"+msg.index+\"]\", \"file\")\n    return {reset: true, topic: \"settings\", payload: \n        {\n            leaveOn: humiditySettingsThisMode.leaveOn,\n            leaveSetpoint: humiditySettingsThisMode.leaveSetpoint,\n        }\n    }\n}","outputs":1,"noerr":0,"x":410,"y":120,"wires":[[]]},{"id":"de62cc92.44ed9","type":"link out","z":"d118769e.e67518","name":"air humidity","links":["da0824eb.a34c78","7a5e57d0.30f688"],"x":1110,"y":280,"wires":[],"l":true},{"id":"8da92456.d5f968","type":"link out","z":"d118769e.e67518","name":"air ventilation","links":["ce1c518a.cbfb5"],"x":1110,"y":400,"wires":[],"l":true},{"id":"da0824eb.a34c78","type":"link in","z":"8f8f43f7.01481","name":"air humidity","links":["de62cc92.44ed9"],"x":170,"y":402,"wires":[["e513b86f.91e318"]],"l":true},{"id":"8a08ec0.f4e0218","type":"function","z":"8f8f43f7.01481","name":"air:humidity formatting","func":"if(msg.topic == \"liveData\"){\n    return {payload: {air: {liveData: {humidityData: msg.payload}}}}\n} else if (msg.topic == \"settings\"){\n    return {payload: {air: {humiditySettings: msg.payload}}}\n}","outputs":1,"noerr":0,"x":500,"y":402,"wires":[["3989bd20.f78b52"]]},{"id":"e513b86f.91e318","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":402,"wires":[["8a08ec0.f4e0218"]]},{"id":"ce1c518a.cbfb5","type":"link in","z":"8f8f43f7.01481","name":"air ventilation","links":["8da92456.d5f968"],"x":170,"y":441,"wires":[["761ef095.3cf25"]],"l":true},{"id":"f25b37a1.e6f5f8","type":"function","z":"8f8f43f7.01481","name":"air:ventilation formatting","func":"if(msg.topic == \"liveData\"){\n    return {payload: {air: {liveData: {ventilationData: msg.payload}}}}\n} else if (msg.topic == \"settings\"){\n    return {payload: {air: {ventilationSettings: msg.payload}}}\n}","outputs":1,"noerr":0,"x":510,"y":441,"wires":[["3989bd20.f78b52"]]},{"id":"761ef095.3cf25","type":"rbe","z":"8f8f43f7.01481","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":441,"wires":[["f25b37a1.e6f5f8"]]},{"id":"39e9f44.e08a80c","type":"inject","z":"d118769e.e67518","name":"on startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":40,"wires":[["a4e41a7e.85f558"]]},{"id":"a4e41a7e.85f558","type":"function","z":"d118769e.e67518","name":"set vars & funcs","func":"flow.set(\"nodeRedDirectory\", global.get('path').join(global.get('os').homedir(), \".node-red\"))\n//temperature\nflow.set(\"temperatureIn\", null) //default is null indicating no connection to sensor\nflow.set(\"temperatureOut\", null) //default is null indicating no connection to sensor\n//humidity  \nflow.set(\"humidityIn\", null) //default is null indicating no connection to sensor\nflow.set(\"humidityOut\", null) //default is null indicating no connection to sensor\n//ventilation\nflow.set(\"co2In\", null) //default is null indicating no connection to sensor\n\n//testing\nflow.set(\"testingModeOn\", true)\n\n//initialization values\nvar air = {\n        \"temperature\": {\n            \"controls\": {\n                \"mode\": 0,\n                \"setpoint\": 65,\n                \"timeMode\": 0,\n                \"setpointTemporary\": 68\n            },\n            \"settings\": [\n                {\n                    \"wakeOn\": true,\n                    \"wakeSetpoint\": 68,\n                    \"wakeTime\": \"12:00\",\n                    \"sleepOn\": false,\n                    \"sleepSetpoint\": 62,\n                    \"sleepTime\": \"12:00\",\n                    \"leaveOn\": false,\n                    \"leaveSetpoint\": 60\n                },\n                {\n                    \"wakeOn\": false,\n                    \"wakeSetpoint\": 78,\n                    \"wakeTime\": \"12:00\",\n                    \"sleepOn\": false,\n                    \"sleepSetpoint\": 80,\n                    \"sleepTime\": \"12:00\",\n                    \"leaveOn\": false,\n                    \"leaveSetpoint\": 82\n                }\n            ]\n        },\n        \"humidity\": {\n            \"controls\": {\n                \"mode\": 0, \n                \"setpoint\": 65\n            },\n            \"settings\": [\n                {\n                    \"leaveOn\": false,\n                    \"leaveSetpoint\": 65\n                },\n                {\n                    \"leaveOn\": false,\n                    \"leaveSetpoint\": 65\n                }\n            ]\n        },\n        \"ventilation\": {\n            \"controls\": {\n                \"mode\": 0, \n                \"setpoint\": 500\n            },\n            \"settings\": {\n                \"offHoursOn\": false,\n                \"offHoursStartTime\": \"11:00\",\n                \"offHoursEndTime\": \"12:00\",\n                \"temperatureAssistOn\": false,\n                \"temperatureAssistLimit\": 65,\n                \"lastCalibrationDate\": \"12:00\"\n            }\n        },\n        \"fan\": {\n            \"controls\": {\n                \"mode\": 0\n            }\n        }\n    }\n    \nif(flow.get(\"air\", \"file\")==null){\n    flow.set(\"air\", air, \"file\")\n}\n\nreturn {payload: \"initialize\"}","outputs":1,"noerr":0,"x":320,"y":40,"wires":[["fe14199a.5256d8","d25b5d4a.e17fa","e1676801.8f2e98"]]},{"id":"566d3be6.aa1334","type":"function","z":"d93e8bdf.747338","name":"setpoint/timeMode","func":"// timeMode: 0 is \"plan\", 1 is \"once\", 2 is \"temp\", 3 is \"hold\"\n// mode: 0 is \"off\", 1 is \"heating\", 2 is \"cooling\"\nvar somethingChanged = false\n \n//todo: handle temperatureIn being null because of sensor disconnection\nif(flow.get(\"$parent.air.temperature.controls.timeMode\", \"file\") === 1) {//if timeMode is ONCE, check if we've reached setpoint\n    var setpoint = flow.get(\"$parent.air.temperature.controls.setpointTemporary\", \"file\")\n    var currentTemperatureIn = flow.get(\"$parent.temperatureIn\")\n    var lastTemperatureIn = context.get(\"lastTemperatureIn\")\n    if(lastTemperatureIn < currentTemperatureIn) {\n        context.set(\"hysteresis\", 0.5)\n    } else if(lastTemperatureIn > currentTemperatureIn){\n        context.set(\"hysteresis\", -0.5)\n    } else if(context.get(\"hysteresis\") == undefined){\n        context.set(\"hysteresis\", 0)\n    }\n    node.send([null, {hysteresis: context.get(\"hysteresis\"), currentTemperatureIn: currentTemperatureIn, lastTemperatureIn: lastTemperatureIn}])\n    //todo: figure out how to handle if context.get(\"lastTemperatureIN\") is undefined because of node-red restart while timeMode is ONCE\n    if(isBetweenOrEqual(setpoint+context.get(\"hysteresis\"), Math.min(currentTemperatureIn, lastTemperatureIn), Math.max(currentTemperatureIn, lastTemperatureIn))){\n        flow.set(\"$parent.air.temperature.controls.timeMode\", 0, \"file\") //set to PLAN\n        somethingChanged = true\n        //reset history vars\n        context.set(\"lastTemperatureIn\", null)\n        context.set(\"hysteresis\", undefined)\n    } else {\n        context.set(\"lastTemperatureIn\", currentTemperatureIn)\n    }\n}\n\nif(!(msg.timeMode == null)){\n    //if either timer is not the msg source, or the timeMode is not HOLD, then take the msg.timeMode\n    if(!(msg.timerIsSource && (flow.get(\"$parent.air.temperature.controls.timeMode\", \"file\") === 3))){\n        somethingChanged = true\n        flow.set(\"$parent.air.temperature.controls.timeMode\", msg.timeMode, \"file\")\n        context.set(\"lastTemperatureIn\", ((msg.timeMode === 1) ? flow.get(\"$parent.temperatureIn\") : null))\n    }\n}\n\nif(!(msg.setpoint == null)){\n    if(msg.timeMode === 0){ //the message tells us which setpoint msg.setpoint is intended for\n        somethingChanged = true\n        flow.set(\"$parent.air.temperature.controls.setpoint\", msg.setpoint, \"file\")\n    } else {\n        somethingChanged = true\n        flow.set(\"$parent.air.temperature.controls.setpointTemporary\", msg.setpoint, \"file\")\n    }\n}\n\nif(somethingChanged){\n    return { topic: \"liveData\", payload: {\n        //we want the actual timeMode to decide which setpoint we send to UI\n        setpoint: ((flow.get(\"$parent.air.temperature.controls.timeMode\", \"file\") === 0) ? flow.get(\"$parent.air.temperature.controls.setpoint\", \"file\") : flow.get(\"$parent.air.temperature.controls.setpointTemporary\", \"file\")), \n        timeMode: flow.get(\"$parent.air.temperature.controls.timeMode\", \"file\")\n        }\n    }\n}\n\nfunction isBetweenOrEqual(x, min, max){\n    return (min <= x && x <= max)\n}","outputs":2,"noerr":0,"x":610,"y":120,"wires":[["deb9a2.9547966"],["286b7265.a0894e"]],"outputLabels":["trigger","debug"]},{"id":"e09b37f7.bb9258","type":"function","z":"d93e8bdf.747338","name":"mode","func":"// mode: 0 is \"off\", 1 is \"heating\", 2 is \"cooling\"\nflow.set(\"$parent.air.temperature.controls.mode\", msg.mode, \"file\")\nreturn [{topic: \"liveData\", payload: {mode: msg.mode}},\n        {mode: msg.mode}];","outputs":2,"noerr":0,"x":410,"y":160,"wires":[[],["deb9a2.9547966","5630c272.109dac"]],"outputLabels":["UI","mode"]},{"id":"ea48fbd9.fae598","type":"function","z":"d93e8bdf.747338","name":"temperature router","func":"if(!(msg.payload.temperature.temperatureIn == null) || !(msg.payload.temperature.temperatureOut == null)){\n    return [null, null, null, null, {\n        topic: \"liveData\", \n        payload: {temperatureIn: flow.get(\"$parent.temperatureIn\"), temperatureOut: flow.get(\"$parent.temperatureOut\")}\n    }] //formatted for UI\n} else if(!(msg.payload.temperature.initialize == null)){\n    return {initialize: msg.payload.temperature.initialize, index: msg.payload.temperature.index}\n} else if(!(msg.payload.temperature.setpoint == null && msg.payload.temperature.timeMode == null)){\n    return [null, {setpoint: msg.payload.temperature.setpoint, timeMode: msg.payload.temperature.timeMode}, null]\n} else if(!(msg.payload.temperature.mode == null)){\n    return [null, null, {mode: msg.payload.temperature.mode}]\n} else if(!(msg.payload.temperature.settings == null)){\n    return [null, null, null, {settings: msg.payload.temperature.settings}]\n} ","outputs":5,"noerr":0,"x":190,"y":120,"wires":[["98b87829.e93938"],["566d3be6.aa1334"],["e09b37f7.bb9258"],["bb02b82f.151438"],["2010a9f.0582756","deb9a2.9547966","566d3be6.aa1334"]],"outputLabels":["init","setpoint/timeMode","mode","settings","temperature in/out"]},{"id":"2cd8cbd7.124c34","type":"function","z":"4e96ea87.eb99f4","name":"humidity switch","func":"if(!(msg.payload.humidity.humidityIn == null) || !(msg.payload.humidity.humidityOut == null)){\n    return [null, null, null, null, {\n        topic: \"liveData\", \n        payload: {humidityIn: flow.get(\"$parent.humidityIn\"), humidityOut: flow.get(\"$parent.humidityOut\")}\n    }] //formatted for UI\n} else if(!(msg.payload.humidity.initialize == null)){\n    return {initialize: msg.payload.humidity.initialize, index: msg.payload.humidity.index}\n} else if(!(msg.payload.humidity.setpoint == null)){\n    return [null, {setpoint: msg.payload.humidity.setpoint}]\n} else if(!(msg.payload.humidity.mode == null)){\n    return [null, null, {mode: msg.payload.humidity.mode}]\n} else if(!(msg.payload.humidity.fanMode == null)){\n    return [null, null, null, {fanMode: msg.payload.humidity.fanMode}]\n} else if(!(msg.payload.humidity.settings == null)){\n    return [null, null, null, null, null, {settings: msg.payload.humidity.settings}]\n}","outputs":6,"noerr":0,"x":200,"y":160,"wires":[["c2269744.89b958"],["46936f89.ebd4b"],["4c897234.42a05c"],[],["e493cadb.9c4518"],["55b50a51.b12014"]],"outputLabels":["init","setpoint","mode","fan","humidity in/out","settings"]},{"id":"ce1c0adb.d91538","type":"function","z":"a632d799.93a4d8","name":"ventilation switch","func":"if(!(msg.payload.ventilation.co2In == null)){\n    return [null, null, null, {topic: \"liveData\", payload: {co2In: msg.payload.ventilation.co2In}}] //formatted for UI\n}else if(!(msg.payload.ventilation.initialize == null)){\n    return {initialize: msg.payload.ventilation.initialize}\n} else if(!(msg.payload.ventilation.setpoint == null)){\n    return [null, {setpoint: msg.payload.ventilation.setpoint}, null]\n} else if(!(msg.payload.ventilation.mode == null)){\n    return [null, null, {mode: msg.payload.ventilation.mode}]\n} else if(!(msg.payload.ventilation.settings == null)){\n    return [null, null, null, null, {settings: msg.payload.ventilation.settings}]\n} else if(!(msg.payload.ventilation.calibrate == null)){\n    return [null, null, null, null, null, {calibrate: msg.payload.ventilation.calibrate}]\n} else if(!(msg.payload.ventilation.temperatureAssistRequestOn == null)){\n    return [null, null, null, null, null, null, {temperatureAssistRequestOn: msg.payload.ventilation.temperatureAssistRequestOn}]\n}else if(!(msg.payload.ventilation.humidityOverloadOn == null)){\n    return [null, null, null, null, null, null, null, {humidityOverloadOn: msg.payload.ventilation.humidityOverloadOn}]\n}","outputs":8,"noerr":0,"x":170,"y":160,"wires":[["468fb0dc.0bb"],["b9866987.fbb6f8"],["60cf7e1c.a133c"],["bde83876.d0ee78"],["51bf565c.f71d58"],[],["c9723dd1.6b707"],["5854cf88.3befd"]],"outputLabels":["init","setpoint","mode","co2 In","settings","calibrate","temperature assist","humidity overload"]},{"id":"46936f89.ebd4b","type":"function","z":"4e96ea87.eb99f4","name":"setpoint","func":"flow.set(\"$parent.air.humidity.controls.setpoint\", msg.setpoint, \"file\")\nreturn {payload: {setpoint: msg.setpoint}}","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["e493cadb.9c4518"]]},{"id":"4c897234.42a05c","type":"function","z":"4e96ea87.eb99f4","name":"mode","func":"//mode 0 is \"off\", 1 is \"humidify\", 2 is \"dehumidify\"\nflow.set(\"$parent.air.humidity.controls.mode\", msg.mode, \"file\")\nreturn {payload: {mode: msg.mode}}","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["e493cadb.9c4518"]]},{"id":"5ee78f4f.3fe67","type":"function","z":"1ba91a6c.dd5356","name":"mode & timer","func":"//mode: 0-\"auto\", 1-\"15\", 2-\"30\", 3-\"60\", 4-\"120\", 5-\"240\", 6-\"480\"\n\nif(msg.fanMode === \"stop timer\"){ //\"stop timer\" is a special message sent before final mode is sent... this is so the UI modeText is not changed by timer.\n    flow.get(\"fanTimer\").stop();\n} else {\n    flow.set(\"$parent.air.fan.controls.mode\", Number(msg.fanMode), \"file\")\n    if(flow.get(\"$parent.air.fan.controls.mode\", \"file\") === 0){ //auto\n        setFanAutoMode();\n    } else if(flow.get(\"$parent.air.fan.controls.mode\", \"file\") > 0){ //timer\n        var timerDurationSeconds = 15*Math.pow(2, (flow.get(\"$parent.air.fan.controls.mode\", \"file\")-1))*60 //gets 15, 30, 60, 120, 240, 480 minutes in seconds\n        if(flow.get(\"$parent.testingModeOn\")){\n            timerDurationSeconds = timerDurationSeconds/60\n        }\n        startTimer(timerDurationSeconds)\n        flow.set(\"timerControlSignal\", true)\n    }\n    //ping fan controller & update UI\n    node.send([{topic: \"liveData\", payload: {fanMode: flow.get(\"$parent.air.fan.controls.mode\", \"file\")}}, {payload: \"update fanMode/timer\"}]);\n}\n\nfunction startTimer(secondsDuration) {\n    //need to remove listener because function is redefined each time node is run so its previous listener is not overwritten\n    flow.get(\"clearFanTimer\")()\n    \n    flow.get(\"fanTimer\").start({countdown: true, startValues: {seconds: secondsDuration}})\n    updateAndSendTimerValue()\n    \n    flow.get(\"fanTimer\").addEventListener('minutesUpdated', updateAndSendTimerValue);  \n    flow.get(\"fanTimer\").addEventListener('targetAchieved', handleTimerExpiration);\n}\n\nfunction updateAndSendTimerValue(){\n    flow.set(\"fanText\", flow.get(\"fanTimer\").getTimeValues().hours+\":\"+flow.get(\"fanTimer\").getTimeValues().toString(['minutes']));\n    node.send([{topic: \"liveData\", payload: {fanText: flow.get(\"fanText\")}}, null, {payload: \"start timer update\"}]);  \n}\n\nfunction handleTimerExpiration(){\n    //change fanMode\n    setFanAutoMode()\n    //ping fan controller & update UI\n    node.send([{topic: \"liveData\", payload: {fanMode: flow.get(\"$parent.air.fan.controls.mode\", \"file\"), fanText: flow.get(\"fanText\")}}, {payload: \"timer expired\"}]);\n}\n\nfunction setFanAutoMode(){\n    flow.set(\"timerControlSignal\", false);\n    flow.set(\"$parent.air.fan.controls.mode\", 0, \"file\")\n    flow.set(\"fanText\", \"auto\")\n}","outputs":3,"noerr":0,"x":420,"y":140,"wires":[[],["ed745817.0a1d28"],[]],"outputLabels":["UI","timer signal","debug"]},{"id":"b9866987.fbb6f8","type":"function","z":"a632d799.93a4d8","name":"setpoint","func":"flow.set(\"$parent.air.ventilation.controls.setpoint\", msg.setpoint, \"file\")\nreturn { topic: \"liveData\", payload: {\n    setpoint: flow.get(\"$parent.air.ventilation.controls.setpoint\", \"file\"), \n    }\n};","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["bde83876.d0ee78"]]},{"id":"60cf7e1c.a133c","type":"function","z":"a632d799.93a4d8","name":"mode & timer","func":"//mode: 0-\"off\", 1-\"auto\", 2-\"20 min\", 3-\"1 hr\", 4-\"2 hr\", 5-\"4 hr\", 6-\"on\", 7-\"off 1h\", 8-\"off 2h\", 9-\"off 4h\"\n\nif(msg.mode === \"stop timer\"){ //\"stop timer\" is a special message sent before final mode is sent... this is so the UI modeText is not changed by timer.\n    flow.get(\"modeTimer\").stop()\n} else {\n    //if a mode has been chosen, then update variables and reset timer\n    flow.set(\"$parent.air.ventilation.controls.mode\", msg.mode, \"file\")\n    flow.set(\"ventilationModeText\", flow.get(\"ventilationModeTextArray\")[msg.mode])\n    flow.get(\"modeTimer\").stop()\n    switch (msg.mode){\n        /*case 0: //off\n        case 1: //auto\n        case 6: //on\n            break;*/\n        case 2: //20 min\n            startModeTimer(20)\n            break;\n        case 3: //1 hr on\n        case 7: //1 hr off\n            startModeTimer(60)\n            break;\n        case 4: //2 hr on\n        case 8: //2 hr off\n            startModeTimer(120)\n            break;\n        case 5: //4 hr on\n        case 9: //4 hr off\n            startModeTimer(240)\n            break;\n        default:\n            break;\n    }\n    //ping controller & update UI\n    node.send([\n        {topic: \"liveData\", payload: {\n            mode: flow.get(\"$parent.air.ventilation.controls.mode\", \"file\"),\n            modeText: flow.get(\"ventilationModeText\") }}, \n        {payload: \"ping controller\"}\n    ])\n}\n\nfunction startModeTimer(minutesDuration) {\n    flow.get(\"modeTimer\").start({countdown: true, startValues: {minutes: minutesDuration}})\n    updateAndSendTimerValue()\n    \n    flow.get(\"clearModeTimer\")() //clear timer to remove event listeners\n    flow.get(\"modeTimer\").addEventListener('minutesUpdated', updateAndSendTimerValue);  \n    \n    flow.get(\"modeTimer\").addEventListener('targetAchieved', handleTimerExpiration);\n}\n\nfunction updateAndSendTimerValue(){\n    flow.set(\"ventilationModeText\", flow.get(\"modeTimer\").getTimeValues().hours+\":\"+flow.get(\"modeTimer\").getTimeValues().toString(['minutes']));\n    node.send([{topic: \"liveData\", payload: {modeText: flow.get(\"ventilationModeText\")}}, null]);  \n}\n\nfunction handleTimerExpiration(){\n        //change mode to auto\n        flow.set(\"$parent.air.ventilation.controls.mode\", 1, \"file\") //set to 1 (\"auto\")\n        flow.set(\"ventilationModeText\", flow.get(\"ventilationModeTextArray\")[1])\n        //ping controller & update UI\n        node.send([{topic: \"liveData\", payload: {mode: flow.get(\"$parent.air.ventilation.controls.mode\", \"file\"), modeText: flow.get(\"ventilationModeText\")}}, {payload: \"ping controller\"}]);\n}","outputs":2,"noerr":0,"x":420,"y":200,"wires":[[],["bde83876.d0ee78"]],"outputLabels":["UI","controller"]},{"id":"6f2d7df4.4ee934","type":"subflow:d93e8bdf.747338","z":"d118769e.e67518","name":"","env":[],"x":800,"y":200,"wires":[["109ac983.58fa36"],["99311861.df2278","d7341bb7.3501e8"],["f0086651.ed5f98"]]},{"id":"d7341bb7.3501e8","type":"subflow:1ba91a6c.dd5356","z":"d118769e.e67518","name":"","env":[],"x":890,"y":260,"wires":[["de62cc92.44ed9"],["99311861.df2278"]]},{"id":"d0156983.cd6c38","type":"subflow:4e96ea87.eb99f4","z":"d118769e.e67518","name":"","env":[],"x":790,"y":340,"wires":[["de62cc92.44ed9"],["d7341bb7.3501e8"],["1f65006b.0c592"],["3c7b0a0.9be2ef6"],[]]},{"id":"f0086651.ed5f98","type":"subflow:a632d799.93a4d8","z":"d118769e.e67518","name":"","env":[],"x":800,"y":400,"wires":[["8da92456.d5f968"],["1f65006b.0c592"]]},{"id":"afb70044.12d49","type":"function","z":"1ba91a6c.dd5356","name":"fan router","func":"if(!(msg.initialize == null)){\n    node.send([msg])\n} else if (!(msg.fanMode == null)){\n    node.send([null, msg])\n} else if (!(msg.payload.temperatureUnitOn == null)){ //compressor control signal //todo: come up with msg format\n    node.send([null, null, {compressorUnitOn: msg.payload.temperatureUnitOn}])\n}","outputs":3,"noerr":0,"x":200,"y":140,"wires":[["a8634850.0b08b8"],["5ee78f4f.3fe67"],["b0c434f7.b22da8"]],"outputLabels":["initialize msg","mode","compressor control signal"]},{"id":"a8634850.0b08b8","type":"function","z":"1ba91a6c.dd5356","name":"fan initialize","func":"return {reset: true, topic: \"liveData\", payload: {\n    //fan\n    fanMode: flow.get(\"air.fan.controls.mode\", \"file\"),\n    fanOn: flow.get(\"fanOn\"),\n    //fanText: flow.get(\"fanModeTextArray[\"+flow.get(\"fanMode\")+\"]\"),\n    fanText: flow.get(\"fanText\"),\n}};\n","outputs":1,"noerr":0,"x":410,"y":100,"wires":[[]]},{"id":"ed745817.0a1d28","type":"function","z":"1ba91a6c.dd5356","name":"fan controller","func":"if(flow.get(\"timerControlSignal\") || flow.get(\"compressorControlSignal\")){\n    if(!flow.get(\"fanOn\")){\n        flow.set(\"fanOn\", true)\n        node.send([{topic: \"liveData\", payload:{fanOn: true}}, {payload:{fanOn: true}}])\n    }\n} else {\n    if(flow.get(\"fanOn\")){\n        flow.set(\"fanOn\", false)\n        node.send([{topic: \"liveData\", payload:{fanOn: false}}, {payload:{fanOn: false}}])\n    }\n}","outputs":2,"noerr":0,"x":690,"y":200,"wires":[[],[]],"outputLabels":["UI","fan control signal"]},{"id":"ff7fcc83.50529","type":"inject","z":"1ba91a6c.dd5356","name":"on startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":40,"wires":[["2d707add.2fc226"]]},{"id":"2d707add.2fc226","type":"function","z":"1ba91a6c.dd5356","name":"set vars & funcs","func":"//mode: 0-\"auto\", 1-\"15\", 2-\"30\", 3-\"60\", 4-\"120\", 5-\"240\", 6-\"480\"\n\n//fan timer\nvar Timer = global.get('easytimer').Timer;\nflow.set(\"fanTimer\", new Timer);\nflow.set(\"clearFanTimer\", function(){flow.set(\"fanTimer\", new Timer)}) //need to clear timer when restarting to discard event listeners\n\n//fan\nflow.set(\"fanOn\", false)\nflow.set(\"fanText\", \"auto\")\nflow.set(\"fanModeTextArray\",[\"auto\",\"15 min\",\"30 min\",\"1 hr\",\"2 hr\",\"4 hr\", \"8 hr\"]);\n\nflow.set(\"timerControlSignal\", false)\nflow.set(\"compressorControlSignal\", false)","outputs":1,"noerr":0,"x":320,"y":40,"wires":[[]]},{"id":"e493cadb.9c4518","type":"function","z":"4e96ea87.eb99f4","name":"humidity controller","func":"const hysteresis = 1, OFF = false, ON = true;\n\n//note: if mode = 0, both controllers will turn off if they are on\n\n//humidifier controller\nif(flow.get(\"$parent.air.humidity.controls.mode\", \"file\") === 1 && !(flow.get(\"$parent.humidityIn\")==null)) { //check sensor is connected\n    if(flow.get(\"$parent.humidityIn\") <= flow.get(\"$parent.air.humidity.controls.setpoint\", \"file\")-hysteresis) { //turn on\n        setHumidifier(ON)\n    } else if(flow.get(\"$parent.humidityIn\") >= flow.get(\"$parent.air.humidity.controls.setpoint\", \"file\")+hysteresis) { //turn off\n        setHumidifier(OFF)\n    }\n} else {\n    setHumidifier(OFF)\n}\n\n//dehumidifier controller\nif(flow.get(\"$parent.air.humidity.controls.mode\", \"file\") === 2 && !(flow.get(\"$parent.humidityIn\")==null)) { //check sensor is connected\n    if(flow.get(\"$parent.humidityIn\") >= flow.get(\"$parent.air.humidity.controls.setpoint\", \"file\")+hysteresis) { //turn on\n        setDehumidifier(ON)\n    } else if(flow.get(\"$parent.humidityIn\") <= flow.get(\"$parent.air.humidity.controls.setpoint\", \"file\")-hysteresis) { //turn off\n        setDehumidifier(OFF)\n    }    \n} else {\n    setDehumidifier(OFF)\n}\nreturn\n\n//todo: use a 1 second timer to filter \nfunction setHumidifier(unitOn){\n    if(flow.get(\"humidifierUnitOn\")!=unitOn){\n        flow.set(\"humidifierUnitOn\", unitOn)\n        node.send([{payload: {unitOn: unitOn}}, {payload: {humidifierUnitOn: unitOn}}, null])\n    }\n}\n\n//todo: use a 1 second timer to filter \nfunction setDehumidifier(unitOn){\n    if(flow.get(\"dehumidifierUnitOn\")!=unitOn){\n        flow.set(\"dehumidifierUnitOn\", unitOn)\n        node.send([null, null, {payload: {dehumidifierUnitOn: unitOn}}]) //note: compressor protector handles \"unitOn\" for UI\n    }\n}\n","outputs":3,"noerr":0,"x":690,"y":240,"wires":[[],["6e4b93a2.032c6c"],["1ec489ce.604096"]],"outputLabels":["UI","humidifier signal","dehumidifier signal"]},{"id":"b3bf92f2.b7bf1","type":"function","z":"4e96ea87.eb99f4","name":"set vars & funcs","func":"//mode 0 is \"off\", 1 is \"humidify\", 2 is \"dehumidify\"\n//settings index 0 is humidify, index 1 is dehumidify\n\nflow.set(\"dehumidifierUnitOn\", false)\nflow.set(\"humidifierUnitOn\", false)\n\nreturn {payload: \"start\"}","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["e493cadb.9c4518"]]},{"id":"d19298e6.e00668","type":"inject","z":"4e96ea87.eb99f4","name":"on startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":60,"wires":[["b3bf92f2.b7bf1"]]},{"id":"1ec489ce.604096","type":"function","z":"4e96ea87.eb99f4","name":"dehumidifier protection","func":"if(flow.get(\"dehumidifierUnitOn\")){ //turn on if cooldown finished\n    if(!context.get(\"isCoolingDown\")){\n        node.send([{payload: {unitOn: true}}, {payload: {dehumidifierUnitOn: true}}])\n    }\n} else { //turn off\n    node.send([{payload: {unitOn: false}}, {payload: {dehumidifierUnitOn: false}}])\n    context.set(\"isCoolingDown\", true)\n    flow.get(\"$parent.testingModeOn\") ? startTimer(null, 5000) : startTimer(null, 300000) //5*60*1000=300000\n}\n\nfunction startTimer(state, time_ms){\n    clearTimeout(context.get(\"timer\"))\n    context.set(\"timer\", setTimeout(function(){ handleTimeout(state); }, time_ms))\n}\n\nfunction handleTimeout(state){\n    context.set(\"isCoolingDown\", false)\n    if(flow.get(\"dehumidifierUnitOn\")){\n        node.send([{payload: {unitOn: true}}, {payload: {dehumidifierUnitOn: true}}])\n    }   \n}","outputs":2,"noerr":0,"x":1060,"y":220,"wires":[[],[]],"outputLabels":["UI","dehumidifier signal"]},{"id":"38e41a6c.427da6","type":"function","z":"d93e8bdf.747338","name":"set vars & funcs","func":"// mode: 0 is \"off\", 1 is \"heating\", 2 is \"cooling\"\n// timeMode: 0 is \"plan\", 1 is \"once\", 2 is \"temp\", 3 is \"hold\"\n// settings: index 0 is heating, index 1 is cooling\nflow.set(\"temperatureUnitOn\", false)\n\nreturn {initialize: true}","outputs":1,"noerr":0,"x":320,"y":40,"wires":[[]]},{"id":"b0b8a781.07bdc8","type":"inject","z":"d93e8bdf.747338","name":"on startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":40,"wires":[["38e41a6c.427da6"]]},{"id":"bb02b82f.151438","type":"function","z":"d93e8bdf.747338","name":"settings","func":"if(!(msg.settings.wakeOn == null)) {\n    flow.set(\"$parent.air.temperature.settings[\"+msg.settings.index+\"].wakeOn\", msg.settings.wakeOn, \"file\")\n    return {wakeOn: msg.settings.wakeOn, index: msg.settings.index}\n} else if(!(msg.settings.wakeSetpoint == null)) {\n    flow.set(\"$parent.air.temperature.settings[\"+msg.settings.index+\"].wakeSetpoint\", msg.settings.wakeSetpoint, \"file\")\n    return {wakeSetpoint: msg.settings.wakeSetpoint, index: msg.settings.index}\n} else if(!(msg.settings.wakeTime == null)) {\n    flow.set(\"$parent.air.temperature.settings[\"+msg.settings.index+\"].wakeTime\", msg.settings.wakeTime, \"file\")\n    return {wakeTime: msg.settings.wakeTime, index: msg.settings.index}\n} else if(!(msg.settings.sleepOn == null)) {\n    flow.set(\"$parent.air.temperature.settings[\"+msg.settings.index+\"].sleepOn\", msg.settings.sleepOn, \"file\")\n    return {sleepOn: msg.settings.sleepOn, index: msg.settings.index}\n} else if(!(msg.settings.sleepSetpoint == null)) {\n    flow.set(\"$parent.air.temperature.settings[\"+msg.settings.index+\"].sleepSetpoint\", msg.settings.sleepSetpoint, \"file\")\n    return {sleepSetpoint: msg.settings.sleepSetpoint, index: msg.settings.index}\n} else if(!(msg.settings.sleepTime == null)) {\n    flow.set(\"$parent.air.temperature.settings[\"+msg.settings.index+\"].sleepTime\", msg.settings.sleepTime, \"file\")\n    return {sleepTime: msg.settings.sleepTime, index: msg.settings.index}\n} else if(!(msg.settings.leaveOn == null)) {\n    flow.set(\"$parent.air.temperature.settings[\"+msg.settings.index+\"].leaveOn\", msg.settings.leaveOn, \"file\")\n} else if(!(msg.settings.leaveSetpoint == null)) {\n    flow.set(\"$parent.air.temperature.settings[\"+msg.settings.index+\"].leaveSetpoint\", msg.settings.leaveSetpoint, \"file\")\n}","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["5630c272.109dac"]]},{"id":"55b50a51.b12014","type":"function","z":"4e96ea87.eb99f4","name":"settings","func":"if(!(msg.settings.leaveOn == null)) {\n    flow.set(\"$parent.air.humidity.settings[\"+msg.settings.index+\"].leaveOn\", msg.settings.leaveOn, \"file\")\n} else if(!(msg.settings.leaveSetpoint == null)) {\n    flow.set(\"$parent.air.humidity.settings[\"+msg.settings.index+\"].leaveSetpoint\", msg.settings.leaveSetpoint, \"file\")\n}","outputs":1,"noerr":0,"x":400,"y":320,"wires":[[]]},{"id":"f75a1a3e.fab148","type":"function","z":"a632d799.93a4d8","name":"set vars & funcs","func":"//mode: 0-\"off\", 1-\"auto\", 2-\"20 min\", 3-\"1 hr\", 4-\"2 hr\", 5-\"4 hr\", 6-\"on\", 7-\"off 1h\", 8-\"off 2h\", 9-\"off 4h\"\n\nflow.set(\"ventilationUnitOn\", false)\nflow.set(\"ventilationModeTextArray\", [\"off\",\"auto\",\"20 min\",\"1 hr\",\"2 hr\",\"4 hr\",\"on\",\"off 1h\",\"off 2h\",\"off 4h\"])\nflow.set(\"ventilationModeText\", flow.get(\"ventilationModeTextArray[\"+flow.get(\"$parent.air.ventilation.controls.mode\", \"file\")+\"]\"))\n\n//timer vars\nvar Timer = global.get('easytimer').Timer\nflow.set(\"modeTimer\", new Timer())\nflow.set(\"clearModeTimer\", function(){flow.set(\"modeTimer\", new Timer())}) //used to remove event listeners to prevent memory leaks\n\nreturn {initialize: true}","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["fd733349.6c9db"]]},{"id":"49c1faec.64e914","type":"inject","z":"a632d799.93a4d8","name":"on startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":60,"wires":[["f75a1a3e.fab148"]]},{"id":"51bf565c.f71d58","type":"function","z":"a632d799.93a4d8","name":"settings","func":"if(!(msg.settings.offHoursOn == null)) {\n    flow.set(\"$parent.air.ventilation.settings.offHoursOn\", msg.settings.offHoursOn, \"file\")\n    return [{offHoursOn: flow.get(\"$parent.air.ventilation.settings.offHoursOn\", \"file\")}, null]\n} else if(!(msg.settings.offHoursStartTime == null)) {\n    flow.set(\"$parent.air.ventilation.settings.offHoursStartTime\", msg.settings.offHoursStartTime, \"file\")\n    return [{offHoursStartTime: flow.get(\"$parent.air.ventilation.settings.offHoursStartTime\", \"file\")}, null]\n} else if(!(msg.settings.offHoursEndTime == null)) {\n    flow.set(\"$parent.air.ventilation.settings.offHoursEndTime\", msg.settings.offHoursEndTime, \"file\")\n    return [{offHoursEndTime: flow.get(\"$parent.air.ventilation.settings.offHoursEndTime\", \"file\")}, null]\n} else if(!(msg.settings.temperatureAssistOn == null)) {\n    flow.set(\"$parent.air.ventilation.settings.temperatureAssistOn\", msg.settings.temperatureAssistOn, \"file\")\n    return [null, {payload: {temperatureAssistOn: msg.settings.temperatureAssistOn}}]\n} else if(!(msg.settings.temperatureAssistLimit== null)) {\n    flow.set(\"$parent.air.ventilation.settings.temperatureAssistLimit\", msg.settings.temperatureAssistLimit, \"file\")\n    return [null, {payload: {temperatureAssistLimit: msg.settings.temperatureAssistLimit}}]\n}","outputs":2,"noerr":0,"x":400,"y":280,"wires":[["fd733349.6c9db"],["c9723dd1.6b707"]],"outputLabels":["off hours","temperature assist"]},{"id":"bde83876.d0ee78","type":"function","z":"a632d799.93a4d8","name":"ventilation controller","func":"//mode: 0-\"off\", 1-\"auto\", 2-\"20 min\", 3-\"1 hr\", 4-\"2 hr\", 5-\"4 hr\", 6-\"on\", 7-\"off 1h\", 8-\"off 2h\", 9-\"off 4h\"\nconst hysteresis = 50, OFF = false, ON = true;\n\nif ( isBetweenOrEqual(flow.get(\"$parent.air.ventilation.controls.mode\", \"file\"), 7, 9) //off timer\n    || (flow.get(\"$parent.air.ventilation.controls.mode\", \"file\") === 0) //mode = \"off\"\n    || flow.get(\"isWithinOffHours\") ) {\n    setVentilation(OFF)\n} else if( isBetweenOrEqual(flow.get(\"$parent.air.ventilation.controls.mode\", \"file\"), 2, 6)){\n    setVentilation(ON)\n} //from here on, mode must be 1 - \"auto\" \nelse if(flow.get(\"humidityOverloadOn\")){\n    setVentilation(OFF)\n} else if(flow.get(\"temperatureAssistOn\")){\n    setVentilation(ON)\n} else if (!(flow.get(\"$parent.co2In\")==null)){ //check sensor is connected\n    if (flow.get(\"$parent.co2In\") >= (flow.get(\"$parent.air.ventilation.controls.setpoint\", \"file\")+hysteresis)){\n        setVentilation(ON)\n    } else if(Math.max((flow.get(\"$parent.co2In\") <= (flow.get(\"$parent.air.ventilation.controls.setpoint\", \"file\")-hysteresis)), 300)){\n        setVentilation(OFF)\n    }\n} else { //if sensor is disconnected\n   setVentilation(OFF) \n}\n\nfunction setVentilation(unitOn){\n    if(flow.get(\"ventilationUnitOn\") != unitOn){\n        flow.set(\"ventilationUnitOn\", unitOn) //this is outside timer so that multiple inputs having same result will not delay timer.\n        //use a timer to filter multiple inputs causing result to change quickly\n        clearTimeout(context.get(\"raceConditionTimer\"))\n        context.set(\"raceConditionTimer\", setTimeout(function(){ \n            node.send([{topic: \"liveData\", payload: {unitOn: unitOn}}, {payload: {humidifierUnitOn: unitOn}}, {mode: flow.get(\"$parent.air.ventilation.controls.mode\", \"file\")}]) \n        }, 500)) //set to half second\n    }\n}\n\nfunction isBetweenOrEqual(x, min, max){\n    return (min <= x && x <= max)\n}","outputs":3,"noerr":0,"x":880,"y":220,"wires":[[],[],[]],"outputLabels":["UI","ventilation signal","debug"]},{"id":"2063f830.a8d508","type":"function","z":"d118769e.e67518","name":"TempHumIn - Update/Timeout","func":"// on message, reset timer\nsetSensorConnectionTimer(\"warning\", 60000)\nmsg.payload = JSON.parse(msg.payload)\nif(!(msg.payload.temperature == null)){\n    flow.set(\"temperatureIn\", Number(msg.payload.temperature))\n    node.send([{payload: {temperature: {temperatureIn: msg.payload.temperature}}}, null, null])\n}\nif(!(msg.payload.humidity == null)){\n    flow.set(\"humidityIn\", Number(msg.payload.humidity))\n    node.send([null, {payload: {humidity: {humidityIn: msg.payload.humidity}}}, null])\n}\n\nfunction handleTimeout(status) {\n    if(status === \"warning\"){\n        // set timeout timer\n        setSensorConnectionTimer(\"timeout\", 60000)\n    } else if(status === \"timeout\") {\n        if(!flow.get(\"testingModeOn\")){\n            // reset variables to null\n            flow.set(\"temperatureIn\", null)\n            flow.set(\"humidityIn\", null)\n            node.send([{payload: {temperature: {temperatureIn: msg.payload.temperature}}}, {payload: {humidity: {humidityIn: msg.payload.humidity}}}, null])\n        }\n        // set retry timer\n        setSensorConnectionTimer(\"retry\", 30000)\n    } else if(status === \"retry\") {\n        // set retry timer\n        setSensorConnectionTimer(\"retry\", 30000)\n    }\n    //send status request\n    //todo: setup correct messaging\n    //node.send([null, null, {payload: {}}])\n}\n\nfunction setSensorConnectionTimer(state, time_ms){\n    clearTimeout(context.get(\"sensorConnectionTimer\"))\n    context.set(\"sensorConnectionTimer\", setTimeout(function(){ handleTimeout(state); }, time_ms))\n}\n","outputs":3,"noerr":0,"x":430,"y":260,"wires":[["6f2d7df4.4ee934"],["d0156983.cd6c38"],["fe14199a.5256d8"]],"outputLabels":["Temp","Hum","Status request"]},{"id":"a5c4e385.8696b","type":"mqtt out","z":"d118769e.e67518","name":"","topic":"air/tempHumIn/statusRequest","qos":"","retain":"","broker":"865fb592.2877c8","x":1010,"y":40,"wires":[]},{"id":"e998cd33.05933","type":"function","z":"d118769e.e67518","name":"TempHumOut Update/Timeout","func":"// on message, reset timer\nsetSensorConnectionTimer(\"warning\", 60000)\nmsg.payload = JSON.parse(msg.payload)\nif(!(msg.payload.temperature == null)){\n    flow.set(\"temperatureOut\", Number(msg.payload.temperature))\n    node.send([{payload: {temperature: {temperatureOut: msg.payload.temperature}}}, null, null])\n}\nif(!(msg.payload.humidity == null)){\n    flow.set(\"humidityOut\", Number(msg.payload.humidity))\n    node.send([null, {payload: {humidity: {humidityOut: msg.payload.humidity}}}, null])\n}\n\n\nfunction handleTimeout(status) {\n    if(status === \"warning\"){\n        // set timeout timer\n        setSensorConnectionTimer(\"timeout\", 60000)\n    } else if(status === \"timeout\") {\n        // reset variables to null\n        flow.set(\"temperatureOut\", null)\n        flow.set(\"humidityOut\", null)\n        node.send([{payload: {temperature: {temperatureOut: msg.payload.temperature}}}, {payload: {humidity: {humidityOut: msg.payload.humidity}}}, null])\n        // set retry timer\n        setSensorConnectionTimer(\"retry\", 30000)\n    } else if(status === \"retry\") {\n        // set retry timer\n        setSensorConnectionTimer(\"retry\", 30000)\n    }\n    //send status request\n    //node.send([null, null, {payload: {}}])\n}\n\nfunction setSensorConnectionTimer(state, time_ms){\n    clearTimeout(context.get(\"sensorConnectionTimer\"))\n    context.set(\"sensorConnectionTimer\", setTimeout(function(){ handleTimeout(state); }, time_ms))\n}\n","outputs":3,"noerr":0,"x":430,"y":320,"wires":[["6f2d7df4.4ee934"],["d0156983.cd6c38"],["d25b5d4a.e17fa"]],"outputLabels":["Temp","Hum","Status request"]},{"id":"797142f4.f8594c","type":"function","z":"d118769e.e67518","name":"co2In - - - - - - - Update/Timeout","func":"// on message, reset timer\nmsg.payload = JSON.parse(msg.payload)\nsetSensorConnectionTimer(\"warning\", 60000)\nflow.set(\"co2In\", Number(msg.payload.co2))\nreturn [{payload: {ventilation: {co2In: msg.payload.co2}}}, null]\n\nfunction handleTimeout(status) {\n    if(status === \"warning\"){\n        // set timeout timer\n        setSensorConnectionTimer(\"timeout\", 60000)\n    } else if(status === \"timeout\") {\n        // reset variables to null\n        flow.set(\"co2In\", null)\n        node.send([{payload: {ventilation: {co2In: msg.payload.co2}}}, null])\n        // set retry timer\n        setSensorConnectionTimer(\"retry\", 30000)\n    } else if(status === \"retry\") {\n        // set retry timer\n        setSensorConnectionTimer(\"retry\", 30000)\n    }\n    //send status request\n    //node.send([null, {payload: {}}])\n}\n\nfunction setSensorConnectionTimer(state, time_ms){\n    clearTimeout(context.get(\"sensorConnectionTimer\"))\n    context.set(\"sensorConnectionTimer\", setTimeout(function(){ handleTimeout(state); }, time_ms))\n}\n","outputs":2,"noerr":0,"x":430,"y":380,"wires":[["f0086651.ed5f98"],["e1676801.8f2e98"]],"outputLabels":["co2","status request"]},{"id":"70ca5b5d.dfc304","type":"mqtt out","z":"d118769e.e67518","name":"","topic":"air/tempHumOut/statusRequest","qos":"","retain":"","broker":"865fb592.2877c8","x":1010,"y":80,"wires":[]},{"id":"6332ab12.683e54","type":"mqtt out","z":"d118769e.e67518","name":"","topic":"air/co2In/statusRequest","qos":"","retain":"","broker":"865fb592.2877c8","x":990,"y":120,"wires":[]},{"id":"deb9a2.9547966","type":"function","z":"d93e8bdf.747338","name":"temperature controller","func":"// mode: 0 is \"off\", 1 is \"heating\", 2 is \"cooling\"\n// timeMode: 0 is \"plan\", 1 is \"once\", 2 is \"temp\", 3 is \"hold\"\n// settings: index 0 is heating, index 1 is cooling\n//inputs: temp In/Out, setpoint/timeMode, timer expired, mode\n\nconst hysteresis = 0.5, OFF = false, ON = true;\n\n//plan or temp, do nothing, setpoint will change when timer expires.\n//temp, use other setpoint variable, setpoint will change back automatically when timer expires\n//once, use other setpoint variable, need to change timeMode back to plan after reaching setpoint\n//hold, use other setpoint variable\nvar timeMode = flow.get(\"$parent.air.temperature.controls.timeMode\", \"file\")\nvar setpoint = (timeMode === 0) ? flow.get(\"$parent.air.temperature.controls.setpoint\", \"file\") : flow.get(\"$parent.air.temperature.controls.setpointTemporary\", \"file\") \nif(flow.get(\"$parent.air.temperature.controls.mode\", \"file\") === 1 && !(flow.get(\"$parent.temperatureIn\")==null)) { //heating, check sensor connected\n    if(flow.get(\"$parent.temperatureIn\") <= setpoint-hysteresis) { //turn on\n        setCompressor(ON)\n    } else if(flow.get(\"$parent.temperatureIn\") >= setpoint+hysteresis) { //turn off\n        setCompressor(OFF)\n    }\n} else if(flow.get(\"$parent.air.temperature.controls.mode\", \"file\") === 2 && !(flow.get(\"$parent.temperatureIn\")==null)) { //cooling, check sensor connected\n    //node.send([null, {debug: \"inside mode=2 if statement\"}])\n    if(flow.get(\"$parent.temperatureIn\") >= setpoint+hysteresis) { //turn on\n        setCompressor(ON)\n    } else if(flow.get(\"$parent.temperatureIn\") <= setpoint-hysteresis) { //turn off\n        setCompressor(OFF)\n    }    \n} else { //mode is \"off\" or sensor disconnected\n    //node.send([null, {debug: \"inside mode=0 if statement\"}])\n    setCompressor(OFF)\n}\n\nfunction setCompressor(unitOn){\n    if(flow.get(\"temperatureUnitOn\")!=unitOn){\n        flow.set(\"temperatureUnitOn\", unitOn)\n        //use a timer to filter multiple inputs causing result to change quickly\n        clearTimeout(context.get(\"raceConditionTimer\"))\n        context.set(\"raceConditionTimer\", setTimeout(function(){ \n            node.send([\n                {temperatureUnitOn: unitOn}, \n                {mode: flow.get(\"$parent.air.ventilation.controls.mode\", \"file\")}\n            ])\n            node.done()\n        }, 500)) //set to half second\n    }\n}\n","outputs":2,"noerr":0,"x":840,"y":280,"wires":[["3ce5a812.a498d8"],[]],"outputLabels":["control signal","debug"]},{"id":"2010a9f.0582756","type":"function","z":"d93e8bdf.747338","name":"assist request","func":"const mode = flow.get(\"$parent.air.temperature.controls.mode\", \"file\")\n\nif((flow.get(\"$parent.temperatureOut\") !== null) && (flow.get(\"$parent.temperatureIn\") !== null)){\n    const tempOut = flow.get(\"$parent.temperatureOut\")\n    const tempIn = flow.get(\"$parent.temperatureIn\")\n    if( mode === 1 ) { //heating\n        if( tempOut>(tempIn+2) \n            && tempIn<(flow.get(\"$parent.air.temperature.controls.setpoint\", \"file\")+flow.get(\"$parent.air.ventilation.settings.temperatureAssistLimit\"))){\n            setTemperatureAssistRequestOn(true)\n        } else {\n            setTemperatureAssistRequestOn(false)\n        }\n    } else if( mode === 2 ) { //cooling\n        if( tempOut<(tempIn-2)\n            && tempIn>(flow.get(\"$parent.air.temperature.controls.setpoint\", \"file\")-flow.get(\"$parent.air.ventilation.settings.temperatureAssistLimit\"))){\n            setTemperatureAssistRequestOn(true)\n        } else {\n            setTemperatureAssistRequestOn(false)\n        }\n    } else { //off\n        setTemperatureAssistRequestOn(false)\n    } \n} else { //inside and/or outside sensor disconnected\n    setTemperatureAssistRequestOn(false)\n}\nreturn\n\nfunction setTemperatureAssistRequestOn(unitOn){\n    if(context.get(\"temperatureAssistRequestOn\")!=unitOn){\n        context.set(\"temperatureAssistRequestOn\", unitOn)\n        node.send({payload: {ventilation: {temperatureAssistRequestOn: unitOn}}})\n    }\n}","outputs":1,"noerr":0,"x":440,"y":240,"wires":[[]]},{"id":"c9723dd1.6b707","type":"function","z":"a632d799.93a4d8","name":"temperature assist","func":"if(!(msg.temperatureAssistRequestOn == null)) {\n    context.set(\"temperatureAssistRequestOn\", msg.temperatureAssistRequestOn)\n}\n\nif( context.get(\"temperatureAssistRequestOn\") \n    && flow.get(\"$parent.air.ventilation.settings.temperatureAssistOn\", \"file\") \n    && ((flow.get(\"$parent.temperatureIn\") !== null) && (flow.get(\"$parent.temperatureOut\") !== null))){ //make sure temperature data has been initialized\n    setTemperatureAssistOn(true)\n} else {\n    setTemperatureAssistOn(false)\n}\nreturn\n\nfunction setTemperatureAssistOn(unitOn){\n    if(flow.get(\"temperatureAssistOn\") !== unitOn){\n        flow.set(\"temperatureAssistOn\", unitOn)\n        node.send({payload: {temperatureAssistOn: unitOn}})\n    }\n}","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["bde83876.d0ee78"]]},{"id":"fd733349.6c9db","type":"function","z":"a632d799.93a4d8","name":"off hours","func":"if (!(msg.offHoursStartTime == null)){\n    setTimer(\"offHoursStartTime\")\n} else if (!(msg.offHoursEndTime == null)){\n    setTimer(\"offHoursEndTime\")\n} else if (!(msg.initialize == null)){\n    setTimer(\"offHoursStartTime\")\n    setTimer(\"offHoursEndTime\")\n}\nflow.set(\"isWithinOffHours\", (isWithinOffHours() && flow.get(\"$parent.air.ventilation.settings.offHoursOn\", \"file\")))\nreturn {payload: \"isWithinOffHours = \"+flow.get(\"isWithinOffHours\")}\n\nfunction setTimer(whichTimer){\n    var alarmName = whichTimer+\"Alarm\"\n    clearTimeout(context.get(alarmName))\n    context.set(alarmName, \n        setTimeout(function restartTimer(){ \n            context.set(alarmName, \n                setTimeout(restartTimer, getAlarmTime(flow.get(\"$parent.air.ventilation.settings.\"+whichTimer, \"file\"))))\n            flow.set(\"isWithinOffHours\", (isWithinOffHours() && flow.get(\"$parent.air.ventilation.settings.offHoursOn\", \"file\")))\n            if(flow.get(\"$parent.air.ventilation.settings.offHoursOn\", \"file\")){ //only send update message if offHoursOn\n                node.send({payload: \"restartTimer, isWithinOffHours = \"+flow.get(\"isWithinOffHours\")}) \n            }\n        }, getAlarmTime(flow.get(\"$parent.air.ventilation.settings.\"+whichTimer, \"file\"))))\n}\n\nfunction getAlarmTime(alarmTimeDT){\n    var alarmTime = new Date(alarmTimeDT)\n    var nextAlarmTime = new Date()\n    nextAlarmTime.setHours(alarmTime.getHours());\n    nextAlarmTime.setMinutes(alarmTime.getMinutes());\n    nextAlarmTime.setSeconds(alarmTime.getSeconds());\n    nextAlarmTime.setMilliseconds(0);\n    var now_ms = new Date().getTime();\n    if (nextAlarmTime.getTime() - now_ms <= 0) { //already passed so change to tomorrow\n      nextAlarmTime.setDate(nextAlarmTime.getDate() + 1);\n    }\n    //node.send({payload: \"nextAlarmTime: \"+(nextAlarmTime.getTime())+\" now: \"+(now_ms)+\" diff: \"+(nextAlarmTime.getTime() - now_ms)})\n    return nextAlarmTime.getTime() - now_ms\n}\n\nfunction isWithinOffHours(){\n    return (isAlarmTimeInPast(flow.get(\"$parent.air.ventilation.settings.offHoursStartTime\", \"file\")) \n            && !isAlarmTimeInPast(flow.get(\"$parent.air.ventilation.settings.offHoursEndTime\", \"file\")))\n}\n\nfunction isAlarmTimeInPast(alarmTimeDT){\n    var alarmTime = new Date(alarmTimeDT)\n    var nextAlarmTime = new Date()\n    nextAlarmTime.setHours(alarmTime.getHours());\n    nextAlarmTime.setMinutes(alarmTime.getMinutes());\n    nextAlarmTime.setSeconds(alarmTime.getSeconds());\n    nextAlarmTime.setMilliseconds(0);\n    var now_ms = new Date().getTime();\n    //node.send({payload: \"nextAlarmTime: \"+(nextAlarmTime.getTime())+\" now: \"+(now_ms)})\n    return (nextAlarmTime.getTime() - now_ms <= 0)\n}","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["bde83876.d0ee78"]]},{"id":"dd79b532.9264b8","type":"inject","z":"d118769e.e67518","name":" ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":440,"wires":[["b9e8b62f.159c18"]]},{"id":"b9e8b62f.159c18","type":"function","z":"d118769e.e67518","d":true,"name":"init TempHumCo2","func":"return [{topic: \"air/TempHumIn\", payload: \"{\\\"temperature\\\": 65, \\\"humidity\\\": 50}\"}, \n    {topic: \"air/TempHumOut\", payload: \"{\\\"temperature\\\": 82, \\\"humidity\\\": 73}\"}, \n    {topic: \"air/co2In\", payload: \"{\\\"co2\\\": 500}\"}]","outputs":3,"noerr":0,"x":270,"y":440,"wires":[["2063f830.a8d508"],["e998cd33.05933"],["797142f4.f8594c"]]},{"id":"d635f46d.d7d2e8","type":"mqtt in","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/flow_meter","qos":"2","datatype":"auto","broker":"865fb592.2877c8","x":150,"y":180,"wires":[["699ef694.57f4c8"]]},{"id":"67abea41.b420e4","type":"mqtt in","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/valve_status","qos":"2","datatype":"auto","broker":"865fb592.2877c8","x":150,"y":240,"wires":[["c8c0c66f.bd5c68"]]},{"id":"2b456736.8afe28","type":"mqtt in","z":"960d5a8b.8e7398","d":true,"name":"","topic":"water_monitor/config_status","qos":"2","datatype":"auto","broker":"865fb592.2877c8","x":400,"y":480,"wires":[[]]},{"id":"25e2856e.48c45a","type":"mqtt in","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/pressure","qos":"2","datatype":"auto","broker":"865fb592.2877c8","x":140,"y":320,"wires":[["c2e45d6c.3145"]]},{"id":"84a552a.411c8b","type":"mqtt in","z":"d118769e.e67518","name":"","topic":"air/tempHumIn/tempHum","qos":"2","datatype":"auto","broker":"865fb592.2877c8","x":150,"y":260,"wires":[["2063f830.a8d508"]]},{"id":"f453eb6a.744368","type":"mqtt in","z":"d118769e.e67518","name":"","topic":"air/tempHumOut/tempHum","qos":"2","datatype":"auto","broker":"865fb592.2877c8","x":150,"y":320,"wires":[["e998cd33.05933"]]},{"id":"465c5975.44d5a8","type":"mqtt in","z":"d118769e.e67518","name":"","topic":"air/co2In/co2","qos":"2","datatype":"auto","broker":"865fb592.2877c8","x":110,"y":380,"wires":[["797142f4.f8594c"]]},{"id":"99311861.df2278","type":"mqtt out","z":"d118769e.e67518","name":"","topic":"air/heatCoolFan/control","qos":"","retain":"","broker":"865fb592.2877c8","x":1150,"y":240,"wires":[]},{"id":"1f65006b.0c592","type":"mqtt out","z":"d118769e.e67518","name":"","topic":"air/dehumVent/control","qos":"","retain":"","broker":"865fb592.2877c8","x":1140,"y":320,"wires":[]},{"id":"3c7b0a0.9be2ef6","type":"mqtt out","z":"d118769e.e67518","name":"","topic":"air/humidifier/control","qos":"","retain":"","broker":"865fb592.2877c8","x":1140,"y":360,"wires":[]},{"id":"c10fc661.380178","type":"mqtt in","z":"d118769e.e67518","name":"","topic":"air/test/UIspoof","qos":"2","datatype":"auto","broker":"865fb592.2877c8","x":120,"y":180,"wires":[["d5374562.ba51f8"]]},{"id":"d5374562.ba51f8","type":"function","z":"d118769e.e67518","name":"json parse","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["545993e3.d066cc"]]},{"id":"6e4b93a2.032c6c","type":"function","z":"4e96ea87.eb99f4","name":"humidity overload","func":"//if unit is on, and humidity is not decreasing fast enough, then trigger humidity overload.\n//humidity overload will reset after dehumidifier turns off (presumably, it hit the setpoint)\n\nvar checkFrequencyMs = flow.get(\"testingModeOn\") ?  1000 : 300000 //5 minutes\n\nif(msg.payload.humidifierUnitOn){ //if dehumidifer turns on\n    context.set(\"overloadLastHumidity\", flow.get(\"$parent.humidityIn\"))\n    setTimer()\n} else { //if dehumidifier turns off\n    clearTimeout(context.get(\"overloadCheckTimer\"))\n    node.send({humidityOverload: false})\n}\n\nfunction setTimer(){\n    clearTimeout(context.get(\"overloadCheckTimer\"))\n    context.set(\"overloadCheckTimer\", \n        setTimeout(function restartTimer(){\n            context.set(alarmName, setTimeout(restartTimer, checkFrequencyMs))\n            if((flow.get(\"$parent.humidityIn\")>=context.get(\"overloadLastHumidity\"))){\n                node.send({humidityOverload: true})\n            }\n            context.set(\"overloadLastHumidity\", flow.get(\"$parent.humidityIn\"))\n        }, checkFrequencyMs)\n    )\n}\n","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[[]]},{"id":"5630c272.109dac","type":"function","z":"d93e8bdf.747338","name":"wake/sleep timers","func":"var mode = (flow.get(\"$parent.air.temperature.controls.mode\", \"file\")-1)\nif(mode === -1){\n    clearTimeout(context.get(\"wakeAlarm\"))\n    clearTimeout(context.get(\"sleepAlarm\"))\n} else {\n    if(!(msg.initialize == null) || !(msg.mode == null)){ //this \"mode\" is off/heating/cooling modes\n        if(flow.get(\"$parent.air.temperature.settings[\"+mode+\"].wakeOn\", \"file\")){\n            setTimer(\"wake\")\n        }\n        if(flow.get(\"$parent.air.temperature.settings[\"+mode+\"].sleepOn\", \"file\")){\n            setTimer(\"sleep\")\n        }\n    } else if (!(msg.wakeTime == null) || !(msg.wakeOn == null)){\n        if( msg.index === mode ){\n            if(flow.get(\"$parent.air.temperature.settings[\"+mode+\"].wakeOn\", \"file\")){\n                setTimer(\"wake\")\n            } else {\n                clearTimeout(context.get(\"wakeAlarm\"))\n            }\n        }\n    } else if (!(msg.sleepTime == null) || !(msg.sleepOn == null)){\n        if( msg.index === mode ) {\n            if(flow.get(\"$parent.air.temperature.settings[\"+mode+\"].sleepOn\", \"file\")){\n                setTimer(\"sleep\")\n            } else {\n                clearTimeout(context.get(\"sleepAlarm\"))\n            }\n        }\n    }\n    //do nothing for wake/sleep Setpoint msgs; updated value will be taken when timer expires.\n}\n\nfunction setTimer(whichTimer){\n    var alarmName = whichTimer+\"Alarm\"\n    var timeName = whichTimer+\"Time\"\n    clearTimeout(context.get(alarmName))\n    context.set(alarmName, \n        setTimeout(function restartTimer(){ \n            context.set(alarmName, \n                setTimeout(restartTimer, \n                    getAlarmTime(flow.get(\"$parent.air.temperature.settings[\"+(flow.get(\"$parent.air.temperature.controls.mode\", \"file\")-1)+\"].\"+timeName, \"file\"))))\n            /*flow.set(\"$parent.air.temperature.controls.setpoint\", \n                    flow.get(\"$parent.air.temperature.settings[\"+(flow.get(\"$parent.air.temperature.controls.mode\", \"file\")-1)+\"].\"+whichTimer+\"Setpoint\", \"file\"), \n                    \"file\")*/\n            //send message\n            node.send({ \n                setpoint: flow.get(\"$parent.air.temperature.settings[\"+(flow.get(\"$parent.air.temperature.controls.mode\", \"file\")-1)+\"].\"+whichTimer+\"Setpoint\", \"file\"), \n                timeMode: 0, //tells setpoint/timeMode node that we are requesting a change to PLAN's setpoint\n                timerIsSource: true\n            })\n        }, getAlarmTime(flow.get(\"$parent.air.temperature.settings[\"+(flow.get(\"$parent.air.temperature.controls.mode\", \"file\")-1)+\"].\"+timeName, \"file\"))))\n}\n\nfunction getAlarmTime(alarmTimeDT){\n    var alarmTime = new Date(alarmTimeDT)\n    var nextAlarmTime = new Date()\n    nextAlarmTime.setHours(alarmTime.getHours());\n    nextAlarmTime.setMinutes(alarmTime.getMinutes());\n    nextAlarmTime.setSeconds(alarmTime.getSeconds());\n    nextAlarmTime.setMilliseconds(0);\n    var now_ms = new Date().getTime();\n    if (nextAlarmTime.getTime() - now_ms <= 0) { //already passed so change to tomorrow\n      nextAlarmTime.setDate(nextAlarmTime.getDate() + 1);\n    }\n    //node.send({payload: \"nextAlarmTime: \"+(nextAlarmTime.getTime())+\" now: \"+(now_ms)+\" diff: \"+(nextAlarmTime.getTime() - now_ms)})\n    return nextAlarmTime.getTime() - now_ms\n}","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["566d3be6.aa1334"]]},{"id":"3ce5a812.a498d8","type":"function","z":"d93e8bdf.747338","name":"compressor protection","func":"if(flow.get(\"temperatureUnitOn\")){ //turn on if cooldown finished\n    //node.send([null, null, {isDecompressing: context.get(\"isDecompressing\")}])\n    if(!context.get(\"isDecompressing\")){\n        node.send([null, null, {debug: \"sending message from outsite timeout\"}])\n        sendMessage()\n    }\n} else { //turn off\n    sendMessage()\n    context.set(\"isDecompressing\", true)\n    flow.get(\"$parent.testingModeOn\") ? startTimer(null, 1000) : startTimer(null, 300000) //5 minutes: 5*60*1000=30000\n}\n\nfunction sendMessage(){\n    node.send([\n        {topic: \"liveData\", payload: {unitOn: flow.get(\"temperatureUnitOn\")}}, \n        {payload: {temperatureUnitOn: flow.get(\"temperatureUnitOn\")}}, \n        //{mode: flow.get(\"$parent.air.ventilation.controls.mode\", \"file\")}\n    ])\n}\n\nfunction startTimer(state, time_ms){\n    clearTimeout(context.get(\"timer\"))\n    context.set(\"timer\", setTimeout(function(){ handleTimeout(state); }, time_ms))\n}\n\nfunction handleTimeout(state){\n    if(flow.get(\"temperatureUnitOn\")){\n        node.send([null, null, {debug: \"sending message from inside timeout\"}])\n        sendMessage()\n    }\n    context.set(\"isDecompressing\", false)\n    node.done()\n}","outputs":3,"noerr":0,"x":1060,"y":160,"wires":[[],[],[]],"outputLabels":["UI","control signal","debug"]},{"id":"a4bd118b.30815","type":"debug","z":"d118769e.e67518","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":460,"wires":[]},{"id":"5854cf88.3befd","type":"function","z":"a632d799.93a4d8","name":"humidity overload","func":"flow.set(\"humidityOverloadOn\", msg.humidityOverloadOn)\nreturn msg","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["bde83876.d0ee78"]]},{"id":"b0c434f7.b22da8","type":"function","z":"1ba91a6c.dd5356","name":"compressor control","func":"flow.set(\"compressorControlSignal\", msg.compressorUnitOn)\nreturn msg","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["ed745817.0a1d28"]]},{"id":"570170ca.ef023","type":"debug","z":"1ba91a6c.dd5356","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":280,"wires":[]},{"id":"286b7265.a0894e","type":"debug","z":"d93e8bdf.747338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":320,"wires":[]},{"id":"e1676801.8f2e98","type":"change","z":"d118769e.e67518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"none","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":120,"wires":[["6332ab12.683e54"]]},{"id":"d25b5d4a.e17fa","type":"change","z":"d118769e.e67518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"none","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[["70ca5b5d.dfc304"]]},{"id":"fe14199a.5256d8","type":"change","z":"d118769e.e67518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"none","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":40,"wires":[["a5c4e385.8696b"]]}]