flows.json
[{"id":"8f8f43f7.01481","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"960d5a8b.8e7398","type":"tab","label":"Water","disabled":false,"info":""},{"id":"865fb592.2877c8","type":"mqtt-broker","z":"","name":"localhost-mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d159396.8c5adc8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"water","name":""},{"id":"3989bd20.f78b52","type":"uibuilder","z":"8f8f43f7.01481","name":"react_ui","topic":"","url":"react_ui","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"template":"","x":540,"y":120,"wires":[["1925e68c.fc23f9"],[]]},{"id":"24dc4c67.4103f4","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/valve_control","qos":"","retain":"","broker":"865fb592.2877c8","x":900,"y":440,"wires":[]},{"id":"77cec268.a1011c","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/config","qos":"","retain":"","broker":"865fb592.2877c8","x":880,"y":560,"wires":[]},{"id":"992ceb5.f73f818","type":"mqtt out","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/status_request","qos":"","retain":"","broker":"865fb592.2877c8","x":910,"y":500,"wires":[]},{"id":"641f97bc.a21fe8","type":"function","z":"960d5a8b.8e7398","name":"set button text","func":"var obj = JSON.parse(msg.payload);\n// below code is wrong.  needs to use above object\n/*if (msg.payload == \"open\"){\n    flow.set(\"button_cmd\", \"close\");\n    newMsg = { payload: \"close\", \n                enabled: true };\n} else if (msg.payload == \"closed\"){\n    flow.set(\"button_cmd\", \"open\");\n    newMsg = { payload: \"open\",\n                enabled: true };\n} else if (msg.payload == \"closing\") {\n    flow.set(\"button_cmd\", \"open\");\n    newMsg = { payload: \"open\",\n                enabled: true };\n} else if (msg.payload == \"opening\") {\n    flow.set(\"button_cmd\", \"close\");\n    newMsg = { payload: \"close\",\n                enabled: true };\n}\nreturn newMsg;*/","outputs":1,"noerr":0,"x":540,"y":320,"wires":[[]]},{"id":"f9323c77.3a6d1","type":"switch","z":"960d5a8b.8e7398","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"water_monitor/flow_meter","vt":"str"},{"t":"eq","v":"water_monitor/valve_status","vt":"str"},{"t":"eq","v":"water_monitor/config_status","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":350,"y":300,"wires":[["c20474e8.af24b8"],["641f97bc.a21fe8"],["cea90901.c67928"]],"outputLabels":["flow_meter","valve_status","config_status"]},{"id":"ad492a61.1c54d8","type":"mqtt in","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/#","qos":"0","datatype":"auto","broker":"865fb592.2877c8","x":120,"y":300,"wires":[["e199f265.47ce6","f9323c77.3a6d1"]]},{"id":"80f459a9.9dd6f8","type":"inject","z":"960d5a8b.8e7398","name":"on startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":40,"wires":[["4123a6a8.b1dac8"]]},{"id":"922e897f.95aa08","type":"function","z":"960d5a8b.8e7398","name":"when reconnected","func":"if (msg.payload == \"no timeout\") {\n    flow.set(\"water_monitor_online\", true);\n    //var newMsg = { payload: flow.get(\"wm_config_payload\")};\n    return { payload: flow.get(\"wm_config_payload\")};\n} else if (msg.payload == \"timeout\") {\n    flow.set(\"water_monitor_online\", false);\n    return null;\n}","outputs":1,"noerr":0,"x":530,"y":560,"wires":[["77cec268.a1011c","422a397b.8809a8"]]},{"id":"4123a6a8.b1dac8","type":"function","z":"960d5a8b.8e7398","name":"set vars","func":"flow.set(\"reports_per_second\", 1);\nflow.set(\"wm_config_payload\", \"reports_per_second:\"+flow.get(\"reports_per_second\"));\n//return { payload: flow.get(\"wm_config_payload\") };","outputs":1,"noerr":0,"x":300,"y":40,"wires":[[]]},{"id":"e199f265.47ce6","type":"timeout","z":"960d5a8b.8e7398","name":"timeout","outtopic":"","outsafe":"no timeout","outwarning":"Warning","outunsafe":"timeout","warning":"0","timer":"5","repeat":false,"again":false,"x":300,"y":560,"wires":[["922e897f.95aa08"]]},{"id":"422a397b.8809a8","type":"change","z":"960d5a8b.8e7398","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"none","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["992ceb5.f73f818"]]},{"id":"9e917171.007cd","type":"link out","z":"960d5a8b.8e7398","name":"water daily","links":["19a0b940.f26c87"],"x":1190,"y":240,"wires":[],"l":true},{"id":"820ba66b.ca0938","type":"link in","z":"8f8f43f7.01481","name":"water flow","links":["e7a29659.12ef58"],"x":180,"y":100,"wires":[["794fef6a.78baa"]],"l":true},{"id":"61ed5149.6b919","type":"mongodb out","z":"960d5a8b.8e7398","mongodb":"d159396.8c5adc8","name":"water->flow","collection":"flow","payonly":true,"upsert":false,"multi":false,"operation":"store","x":870,"y":260,"wires":[]},{"id":"c20474e8.af24b8","type":"function","z":"960d5a8b.8e7398","name":"filter out 0's","func":"if(msg.payload !== '0'){\n    return [msg, {payload: {water: {flow: msg.payload}}}];\n}\nreturn [null, null];","outputs":2,"noerr":0,"x":531,"y":240,"wires":[["c37b6b2d.9ce068","4decf75f.ca54c8"],[]]},{"id":"c37b6b2d.9ce068","type":"function","z":"960d5a8b.8e7398","name":"calculate + doc","func":"var tempClicks = Number(msg.payload)\nvar tempGallons = (0.000925824*tempClicks + 0.0015719)\nreturn [{payload:{\n    clicks: tempClicks,\n    gallons: tempGallons.toFixed(3),\n    //report_sec: flow.get(\"reports_per_second\"),\n    created_on: new Date()\n}}, {payload: tempGallons*60}]","outputs":2,"noerr":0,"x":700,"y":260,"wires":[["61ed5149.6b919"],["e7a29659.12ef58"]]},{"id":"4decf75f.ca54c8","type":"function","z":"960d5a8b.8e7398","name":"create query","func":"flow.set(\"currentFlow\", Number(msg.payload))\nstart = new Date()\nend = new Date(start.valueOf())\nstart.setHours(0,0,0,0)\nend.setHours(24,0,0,0)\nreturn {payload:{created_on: {$gt: start, $lt:end}}}","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["db982b0.78291d8"]]},{"id":"db982b0.78291d8","type":"mongodb in","z":"960d5a8b.8e7398","mongodb":"d159396.8c5adc8","name":"find in water->daily","collection":"daily","operation":"find","x":850,"y":200,"wires":[["20da2a30.ace936"]]},{"id":"5e51bd8d.486ec4","type":"inject","z":"960d5a8b.8e7398","name":"","topic":"water_monitor/flow_meter","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["f9323c77.3a6d1"]]},{"id":"20da2a30.ace936","type":"function","z":"960d5a8b.8e7398","name":"create daily doc","func":"var timestamp = new Date()\nvar tempGallons = (0.000925824*Number(flow.get(\"currentFlow\")) + 0.0015719)\nif(msg.payload.length === 0){\n    var doc = { \n        payload: {\n            value: tempGallons.toFixed(3),\n            created_on: timestamp,\n            modified: timestamp\n        }\n    }\n    return [doc, null, {payload: tempGallons}]\n} else if (msg.payload.length === 1){\n    var todaysDaily = Number(msg.payload[0].value)+tempGallons\n    var doc = {\n        query: {\n            _id: msg.payload[0]._id\n        },\n        payload: {\n            value: todaysDaily.toFixed(3),\n            created_on: msg.payload[0].created_on,\n            modified: timestamp\n        }\n    }\n    return [null, doc, {payload: todaysDaily}]\n} else {\n    node.error(\"Error: unexpected response from database: request daily.\", msg);\n    return [null, null, null]\n}","outputs":3,"noerr":0,"x":1020,"y":200,"wires":[["a97f78e2.2b6518"],["cf16a2d0.ab4f6"],["9e917171.007cd"]]},{"id":"cf16a2d0.ab4f6","type":"mongodb out","z":"960d5a8b.8e7398","mongodb":"d159396.8c5adc8","name":"update daily doc","collection":"daily","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1200,"y":200,"wires":[]},{"id":"a97f78e2.2b6518","type":"mongodb out","z":"960d5a8b.8e7398","mongodb":"d159396.8c5adc8","name":"new daily doc","collection":"daily","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1200,"y":160,"wires":[]},{"id":"e7a29659.12ef58","type":"link out","z":"960d5a8b.8e7398","name":"water flow","links":["820ba66b.ca0938"],"x":1020,"y":260,"wires":[],"l":true},{"id":"19a0b940.f26c87","type":"link in","z":"8f8f43f7.01481","name":"water daily","links":["9e917171.007cd","7876e37b.8716cc"],"x":180,"y":140,"wires":[["5c3bebc5.a3d204"]],"l":true},{"id":"794fef6a.78baa","type":"function","z":"8f8f43f7.01481","name":"water:flow formatting","func":"return {payload: {water: {flow: msg.payload.toFixed(1)}}}","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["3989bd20.f78b52"]]},{"id":"5c3bebc5.a3d204","type":"function","z":"8f8f43f7.01481","name":"water:usage formatting","func":"return {payload: {water: {usage: msg.payload.toFixed(0)}}}","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["3989bd20.f78b52","8001c5fb.066008"]]},{"id":"1925e68c.fc23f9","type":"function","z":"8f8f43f7.01481","name":"msg router","func":"switch(msg.topic) {\n  case \"dashboard\":\n    return [msg, null, null]\n    break;\n  case \"water\":\n    return [null, msg, null]\n    break;\n  default:\n    return [null, null, msg]\n}","outputs":3,"noerr":0,"x":690,"y":120,"wires":[["3989bd20.f78b52"],["99c343e2.45a4d"],[]],"outputLabels":["water","default",""]},{"id":"25701d18.bfc8e2","type":"link in","z":"960d5a8b.8e7398","name":"UI request","links":["99c343e2.45a4d","b72764fa.7a8a68"],"x":100,"y":120,"wires":[["b1821932.a25958"]],"l":true},{"id":"99c343e2.45a4d","type":"link out","z":"8f8f43f7.01481","name":"request to water","links":["25701d18.bfc8e2"],"x":880,"y":100,"wires":[],"l":true},{"id":"b1821932.a25958","type":"function","z":"960d5a8b.8e7398","name":"request router","func":"switch(msg.payload) {\n  case \"initialize\":\n    return [msg, null]\n    break;\n  default:\n    return [null, null]\n}","outputs":2,"noerr":0,"x":260,"y":120,"wires":[["b53c20e6.4ed04"],[]],"outputLabels":["initialize",""]},{"id":"b53c20e6.4ed04","type":"function","z":"960d5a8b.8e7398","name":"create query","func":"start = new Date()\nend = new Date(start.valueOf())\nstart.setHours(0,0,0,0)\nend.setHours(24,0,0,0)\nreturn {payload:{created_on: {$gt: start, $lt:end}}}","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["6ef4f1fd.40a39"]]},{"id":"6ef4f1fd.40a39","type":"mongodb in","z":"960d5a8b.8e7398","mongodb":"d159396.8c5adc8","name":"find in water->daily","collection":"daily","operation":"find","x":590,"y":80,"wires":[["8eef186c.c53f68"]]},{"id":"8eef186c.c53f68","type":"function","z":"960d5a8b.8e7398","name":"format response","func":"if(msg.payload.length === 0){\n    return {payload: Number(0)}\n} else if (msg.payload.length === 1){\n    return {payload: Number(msg.payload[0].value)}\n} else {\n    node.error(\"Error: unexpected database response: request for daily\", msg);\n    return null\n}","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["7876e37b.8716cc"]]},{"id":"7876e37b.8716cc","type":"link out","z":"960d5a8b.8e7398","name":"water daily","links":["19a0b940.f26c87"],"x":930,"y":80,"wires":[],"l":true},{"id":"9582ff31.ef3bf","type":"inject","z":"960d5a8b.8e7398","name":"","topic":"water","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["b33249b4.ab2f58"]]},{"id":"b33249b4.ab2f58","type":"function","z":"960d5a8b.8e7398","name":"Random","func":"rnd = (Math.random() * 150).toFixed(0);\nreturn {topic: \"water_monitor/flow_meter\", payload: rnd};","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["f9323c77.3a6d1"]]},{"id":"13d6c99.5614e36","type":"debug","z":"960d5a8b.8e7398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":300,"wires":[]},{"id":"cea90901.c67928","type":"function","z":"960d5a8b.8e7398","name":"set reports_per_second","func":"var obj = JSON.parse(msg.payload);\nflow.set(\"reports_per_second\", obj.reports_per_second)\nreturn {payload: flow.get(\"reports_per_second\")}","outputs":1,"noerr":0,"x":570,"y":360,"wires":[[]]},{"id":"6fbb6018.f9c2e","type":"inject","z":"960d5a8b.8e7398","name":"water_monitor/config_status...","topic":"water_monitor/config_status","payload":"{\"reports_per_second\":2}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["f9323c77.3a6d1"]]},{"id":"a35c58a.47e08a8","type":"inject","z":"8f8f43f7.01481","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["ce024ba9.e905b8"]]},{"id":"ce024ba9.e905b8","type":"function","z":"8f8f43f7.01481","name":"water:usage formatting","func":"var mywater\nreturn {payload: {electric: mywater}}","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["3989bd20.f78b52"]]},{"id":"8001c5fb.066008","type":"debug","z":"8f8f43f7.01481","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":220,"wires":[]}]